﻿@{
    ViewBag.Title= "PricingTier";
    Layout="~/Views/Shared/_Layout.cshtml";
}

@using TodoDashboard.Common;
@using TodoDashboard.Pages;
@using TodoDashboard.Infrastructure;
@Html.AntiForgeryToken()

<style>
    .checkbox {
        width: 25px;
        height: 25px;
    }

    .checkbox2 {
        width: 25px;
        height: 25px;
    }

    thead {
        background: #000;
        color: white;
    }

    .has-error .checkbox, .has-error .checkbox-inline, .has-error .control-label, .has-error .form-control-feedback, .has-error .help-block, .has-error .radio, .has-error .radio-inline, .has-error.checkbox label, .has-error.checkbox-inline label, .has-error.radio label, .has-error.radio-inline label {
        color: #e73d4a
    }

    .has-error .form-control {
        border-color: #e73d4a;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075)
    }

        .has-error .form-control:focus {
            border-color: #d71b29;
            -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #f2989f;
            box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #f2989f
        }

    .has-error .input-group-addon {
        color: #e73d4a;
        border-color: #e73d4a;
        background-color: #fbe1e3
    }

    .addDelete {
        color: black !important;
        background: #e9e9e9 !important;
    }

    .hideDelete {
        display: none !important;
    }
</style>

<div class="block-header">
    <div class="row clearfix">
        <div class="col-lg-6 col-md-8 col-sm-12">
            <h2>
                <a href="javascript:void(0);" onclick="history.back();" class="btn btn-xs btn-link"><i class="fa fa-arrow-left"></i></a>
                <span id="headingtext">Add New Pricing Tier</span>
            </h2> 
            <ul class="breadcrumb">
                <li class="breadcrumb-item"><a href="@Url.Action(Actions.Index,Controllers.Home,new { Area=""})"><i class="icon-home"></i></a>
                <li class="breadcrumb-item active" id="breadcrum">Add New Pricing Tier</li>
            </ul>
        </div>
    </div>
</div>

<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="card">
            <div class="body">
                <form class="form-auth-small" method="post" id="frmuser">
                    <div class="row clearfix">
                        <input type="hidden" id="Id" />
                        <div class="col-md-6 col-sm-12">
                            <label>Wine Name</label>
                            <div class="form-group autocomplete">
                                @Html.DropDownList("MasterWineId", (IEnumerable<SelectListItem>)ViewBag.MasterWines, "Select Wine", new { @Id = "MasterWineId", @class = "form-control show-tick ms select2" })
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <label>Varietal</label>
                            <div class="form-group">
                                @Html.DropDownList("MasterWineVaritalId", (IEnumerable<SelectListItem>)ViewBag.WineVaritals, "Select Wine Varital", new { @Id = "MasterWineVaritalId", @class = "form-control show-tick ms select2" })
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <label>Distributor</label>
                            <div class="form-group">
                                @Html.DropDownList("MasterDistributorId", (IEnumerable<SelectListItem>)ViewBag.Distributors, "Select Distributor", new { @Id = "MasterDistributorId", @class = "form-control show-tick ms select2" })
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <label>Tier</label>
                            <div class="form-group">
                                @Html.DropDownList("MasterTierId", (IEnumerable<SelectListItem>)ViewBag.Tiers, "Select Tier", new { @Id = "MasterTierId", @class = "form-control show-tick ms select2" })
                            </div>
                        </div>
                            <div class="col-md-6 col-sm-12">
                                <label>Supplier</label>
                                <div class="form-group">
                                    @Html.DropDownList("MasterSupplierId", (IEnumerable<SelectListItem>)ViewBag.MasterSuppliers, "Select Supplier", new { @Id = "MasterSupplierId", @class = "form-control show-tick ms select2" })
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-12">
                                <label>Level</label>
                                <div class="form-group">
                                    @Html.DropDownList("MasterLevelId", (IEnumerable<SelectListItem>)ViewBag.MasterLevel, "Select Level", new { @Id = "MasterLevelId", @class = "form-control show-tick ms select2" })
                                </div>
                            </div>
                        <div class="col-md-6 col-sm-12">
                            <label>Cal5oz</label>
                            <div class="form-group autocomplete">
                                <input type="text" id="Cal5oz" class="form-control" placeholder="Cal5oz*">
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <label>Cal8oz</label>
                            <div class="form-group autocomplete">
                                <input type="text" id="Cal8oz" class="form-control" placeholder="Cal8oz*">
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <label>Cal6oz</label>
                            <div class="form-group autocomplete">
                                <input type="text" id="Cal6oz" class="form-control" placeholder="Cal6oz*">
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <label>CalBottle</label>
                            <div class="form-group autocomplete">
                                <input type="text" id="CalBottle" class="form-control" placeholder="CalBottle*">
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <label>Price5oz</label>
                            <div class="form-group autocomplete">
                                <input type="text" id="Price5oz" class="form-control" placeholder="Price5oz*">
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <label>Price8oz</label>
                            <div class="form-group autocomplete">
                                <input type="text" id="Price8oz" class="form-control" placeholder="Price8oz*">
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <label>PriceBottle</label>
                            <div class="form-group autocomplete">
                                <input type="text" id="PriceBottle" class="form-control" placeholder="PriceBottle*">
                            </div>
                        </div>
                        <div class="col-12" style="text-align:right;">
                            <input type="submit" id="userSave" class="btn btn-primary" style="color: white !important;background: #138496 !important;" value="Save">
                            <button class="btn btn-primary loading" type="button" disabled style="display:none;float:right;">
                                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                                Saving...
                            </button>
                            <a href="@Url.Action(Actions.Index,Controllers.Home,new { Area = "",page="pricingtier"})" class="btn btn-secondary closeBtn" id="userClose">Cancel</a>
                        </div>

                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section dashboardscripts{
    <script src="~/Scripts/jquery-ui.min.js"></script>
    <script src="~/Scripts/datatable.js"></script>
    <script src="~/Scripts/datatables.min.js"></script>
    <script src="~/Scripts/datatables.bootstrap.js"></script>
}

@section Scripts {
    <script>
        jQuery(document).ready(function () {
            $("#Id").val(@ViewBag.Id);
            if (@ViewBag.Id > 0) {
                GetById();
            }
            FormuserValidation.init();           
        });


    var FormuserValidation = function () {

            // basic validation
            var handleValidation = function () {

                var form1 = $('#frmuser');
                var error1 = $('.alert-danger', form1);

                jQuery.validator.addMethod("lettersonly", function(value, element)
                {
                return this.optional(element) || /^[a-z ]+$/i.test(value);
                }, "Text Field Only");

                form1.validate({
                    errorElement: 'span', //default input error message container
                    errorClass: 'help-block help-block-error', // default input error message class
                    focusInvalid: false, // do not focus the last invalid input
                    ignore: "",  // validate all fields including form hidden input
                    rules: {
                        MasterWineId: {
                            required: true,
                        },
                        MasterWineVaritalId: {
                            required: true,
                        },
                        MasterDistributorId: {
                            required: true,
                        },
                        MasterSupplierId: {
                            required: true,
                        },
                        MasterLevelId: {
                            required: true,
                        },
                        MasterTierId: {
                            required: true,
                        },
                        Cal5oz: {
                            required: true,
                            number: true,
                        },
                        Cal8oz: {
                            required: true,
                            number: true,
                        },
                        Cal6oz: {
                            required: true,
                            number: true,
                        },
                        CalBottle: {
                            required: true,
                            number: true,
                        },
                        Price5oz: {
                            required: true,
                            number: true,
                        },
                        Price8oz: {
                            required: true,
                            number: true,
                        },
                        PriceBottle: {
                            required: true,
                            number: true,
                        },
                      
                    },

                    invalidHandler: function (event, validator) { //display error alert on form submit
                        //success1.hide();
                        error1.show();
                        App.scrollTo(error1, -200);
                    },

                    errorPlacement: function (error, element) { // render error placement for each input type
                        var cont = $(element).parent('.input-group');
                        if (cont.size() > 0) {
                            cont.after(error);
                        } else {
                            element.after(error);
                        }
                    },

                    highlight: function (element) { // hightlight error inputs
                        $(element)
                            .closest('.form-group').addClass('has-error'); // set error class to the control group
                    },

                    unhighlight: function (element) { // revert the change done by hightlight
                        $(element)
                            .closest('.form-group').removeClass('has-error'); // set error class to the control group
                    },

                    success: function (label) {
                        label
                            .closest('.form-group').removeClass('has-error'); // set success class to the control group
                    },

                    submitHandler: function (form) {
                        AditPricingTier();
                    }
                });
            }
            return {
                //main function to initiate the module
                init: function () {
                    handleValidation();
                }
            };
        }();

     
      

    function sleep(ms) {
       return new Promise(resolve => setTimeout(resolve, ms));
    }
          

    function AditPricingTier() {
        $("#userSave").hide();
        $("#userClose").hide();
        $(".loading").show();

        $.ajax({
            type: "POST",
            url: '@Url.Action(Actions.Upsert,Controllers.PricingTier)',
            data: ({
                Id: $("#Id").val(), MasterWineId: $("#MasterWineId").val(), MasterWineVaritalId: $("#MasterWineVaritalId").val(), MasterDistributorId: $("#MasterDistributorId").val(), MasterSupplierId: $("#MasterSupplierId").val(), MasterLevelId: $("#MasterLevelId").val(), MasterTierId: $("#MasterTierId").val(), Cal5oz: $("#Cal5oz").val(), Cal6oz: $("#Cal6oz").val(), Cal8oz: $("#Cal8oz").val(), CalBottle: $("#CalBottle").val(), Price5oz: $("#Price5oz").val(), Price8oz: $("#Price8oz").val(), PriceBottle: $("#PriceBottle").val()
            }),
            dataType: 'json',
            success: function (response) {
                if (response.Code == 200) {
                    swal("Great!", "Details Saved !", "success");
                    var millisecondsToWait = 500;
                    setTimeout(function () {
                        window.location.href= '@Url.Action(Actions.Index, Controllers.Home, new { Area = "",page="pricingtier" })';
                    }, millisecondsToWait);
                }
                else {
                    swal("Error !", response.Message, "error");
                    $(".loading").hide();
                    $("#userSave").show();
                    $("#userClose").show();
                }
            },
            error: function (error) {
                $(".loading").hide();
                $("#userSave").show();
                $("#userClose").show();

                //show close button
            }
        });
            }

        function GetById() {
             $.ajax({
            type: "POST",
            url: '@Url.Action(Actions.GetById,Controllers.PricingTier)',
            data: ({Id: $("#Id").val()}),
            dataType: 'json',
                 success: function (response) {
                     if (response.Code == 200 && response.Item != null) {
                         $("#MasterWineId").val(response.Item.MasterWineId);
                         $("#MasterWineVaritalId").val(response.Item.MasterWineVaritalId);
                         $("#MasterDistributorId").val(response.Item.MasterDistributorId);
                         $("#MasterSupplierId").val(response.Item.MasterSupplierId);
                         $("#MasterLevelId").val(response.Item.MasterLevelId);
                         $("#MasterTierId").val(response.Item.MasterTierId);
                         $("#Cal5oz").val(response.Item.Cal5oz);
                         $("#Cal8oz").val(response.Item.Cal8oz);
                         $("#Cal6oz").val(response.Item.Cal6oz);
                         $("#CalBottle").val(response.Item.CalBottle);
                         $("#Price5oz").val(response.Item.Price5oz);
                         $("#Price8oz").val(response.Item.Price8oz);
                         $("#PriceBottle").val(response.Item.PriceBottle);
                 }
                 else {
                     swal("Error !", "An error occured. Try Again", "error");
                 }
            },
            error: function (error) {
               swal("Error !", "An error occured. Try Again", "error");
            }
        });
        }

       

    </script>
    <script src="~/assets/validation/js/jquery-ui.min.js"></script>
    <script src="~/assets/validation/js/app.min.js"></script>
    <script src="~/assets/validation/js/ui-modals.min.js"></script>
    <script src="~/assets/validation/js/jquery.validate.min.js"></script>
    <script src="~/assets/validation/js/additional-methods.min.js"></script>
    <script src="~/assets/validation/js/toastr.min.js"></script>
    <script src="~/assets/validation/js/ui-toastr.min.js"></script>
    <script src="~/assets/vendor/dropify/js/dropify.min.js"></script>
    <script src="~/assets/vendor/sweetalert/sweetalert.min.js"></script> <!-- SweetAlert Plugin Js -->
    <script src="~/assets/js/pages/forms/dropify.js"></script>
    <script src="~/assets/js/pages/ui/dialogs.js"></script>
}