﻿
@{
    ViewBag.Title = "Add Drink";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .addData {
        color: white !important;
        background: #000 !important;
    }

    .addFilters {
        color: black !important;
        background: #e9e9e9 !important;
    }
</style>

@using TodoDashboard.Common;
@using TodoDashboard.Pages;
@using TodoDashboard.Infrastructure;
@Html.AntiForgeryToken()

<div class="block-header">
    <div class="row">
        <div class="col-lg-6 col-md-8 col-sm-12">
            <h2><a href="javascript:void(0);" class="btn btn-xs btn-link btn-toggle-fullwidth"><i class="fa fa-arrow-left"></i></a>Add New Item</h2>
            <ul class="breadcrumb">
                <li class="breadcrumb-item"><a href="dashboard.html"><i class="icon-home"></i></a></li>
                <li class="breadcrumb-item active"><a href="@Url.Action(Actions.Index,Controllers.Home)">Home</a></li>
                <li class="breadcrumb-item active">Add New Item</li>
            </ul>
        </div>

    </div>
</div>

<div class="row clearfix">
    <div class="col-lg-12">
        <div class="card">
            <div class="body">
                <div>
                    <div class="row clearfix">
                        <div class="col-md-4 col-sm-12">
                            <label>Name</label>
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Enter Name">
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-12">
                            <label>Garnish</label>
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Enter Garnish">
                            </div>
                            <!--<div class="form-group">
                                <select class="form-control show-tick ms select2" data-placeholder="Select">
                                    <option></option>
                                    <option>Southgate 9</option>
                                    <option>Esplanade 14</option>
                                    <option>Fullerton 20</option>
                                    <option>Marina 6</option>
                                    <option>Ontario Mills 30</option>
                                </select>
                            </div>-->
                        </div>
                        <div class="col-md-4 col-sm-12">
                            <label>Seasonal</label>
                            <div class="form-group">
                                <select class="form-control show-tick ms select2" data-placeholder="Select">
                                    <option>Select Seasonal</option>
                                    <option>Signature parks</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row clearfix">
                        <div class="col-md-4 col-sm-12">
                            <label>Spirit</label>
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Enter Spirit">
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-12">
                            <label>Glassware</label>
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Enter Glassware">
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-12">
                            <label>Location</label>
                            <div class="form-group">
                                <select class="form-control show-tick ms select2" data-placeholder="Select">
                                    <option>Select Location</option>
                                    <option>Coral Reef</option>
                                    <option>Kona cafe</option>
                                    <option>1900 Park Fare</option>
                                    <option>Akershus</option>
                                    <option>Ale & Compass</option>
                                    <option>Boma</option>
                                    <option>Cape May</option>
                                    <option>Chef Mickey's</option>
                                    <option>Coral Beef</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="row clearfix">
                        <div class="col-md-4 col-sm-12">
                            <label>Brand</label>
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Enter Brand">
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-12">
                            <label>Price</label>
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Enter Price">
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-12">
                            <label>Photo</label>
                            <input type="file" class="dropify">
                            <div class="mt-3"></div>
                        </div>
                    </div>

                    <div class="row clearfix text" style="margin-top: -165px;">
                        <div class="col-md-4 col-sm-12">
                            <label>Ingredients</label>
                            <div class="form-group">
                                <textarea type="text" class="form-control" placeholder="Enter Ingredients"></textarea>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-12">
                            <label>Lounge Level</label>
                            <div class="form-group">
                                <select class="form-control show-tick ms select2" data-placeholder="Select">
                                    <option>Select Lounge Level</option>
                                    <option>Lounge core</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div style="float:right; padding:20px;padding-top: 65px;">
                <!--<button type="button" class="btn btn-primary">Add</button>-->
                <button type="button" class="btn btn-primary saveBtn">Save</button>&nbsp;
                <button class="btn btn-primary loading" type="button" disabled style="display:none;">
                    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                    Saving...
                </button>
                <button onclick="openHome();" type="button" class="btn btn-outline-secondary" data-dismiss="modal">Cancel</button>

            </div>

        </div>
    </div>
</div>


@section dashboardscripts{

}

@section Scripts {
    <script src="~/assets/validation/js/jquery-ui.min.js"></script>
    <script src="~/assets/validation/js/app.min.js"></script>
    <script src="~/assets/validation/js/ui-modals.min.js"></script>
    <script src="~/assets/validation/js/jquery.validate.min.js"></script>
    <script src="~/assets/validation/js/additional-methods.min.js"></script>
    <script src="~/assets/validation/js/toastr.min.js"></script>
    <script src="~/assets/validation/js/ui-toastr.min.js"></script>
    <script src="~/assets/vendor/dropify/js/dropify.min.js"></script>
    <script src="~/assets/vendor/sweetalert/sweetalert.min.js"></script> <!-- SweetAlert Plugin Js -->
    <script src="~/assets/js/pages/forms/dropify.js"></script>
    <script src="~/assets/js/pages/ui/dialogs.js"></script>

    <script>
    function openHome() {
        window.location.href = '@Url.Action(Actions.Index,Controllers.Home)';
    }
    </script>

}

