﻿
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .addData {
        color: white !important;
        background: #000 !important;
    }

    .addFilters{
        color: black !important;
        background: #e9e9e9 !important;
    }

</style>

@using TodoDashboard.Common;
@using TodoDashboard.Pages;
@using TodoDashboard.Infrastructure;
@Html.AntiForgeryToken()

<div class="block-header">
    <div class="row">
        <div class="col-lg-6 col-md-8 col-sm-12">
            <h2><a href="javascript:void(0);" class="btn btn-xs btn-link btn-toggle-fullwidth"><i class="fa fa-arrow-left"></i></a> Home</h2>
            @*<ul class="breadcrumb">
                <li class="breadcrumb-item"><a href="@Url.Action(Actions.Index,Controllers.Dashboard,new { Area=""})"><i class="icon-home"></i></a></li>
                <li class="breadcrumb-item active">Dashboard</li>
            </ul>*@
        </div>
    </div>
</div>

<div class="row clearfix">
    <div class="col-md-12">
        <div class="card">
            <div class="body">
                <div class="portlet light bordered">
                    <div class="portlet-title">
                        <div class="tools col-md-12"></div>
                    </div>
                    <div class="portlet-body" id="divCustomerTable">
                        <table class="table table-striped table-bordered table-hover" id="CustomerTable"></table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal animated fadeIn" id="filters" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <form>
                <div class="modal-header">
                    <h6 class="title" id="defaultModalLabel">Advance Search</h6>
                </div>
                <div class="modal-body">
                    <div>
                        <div class="row clearfix">
                            <div class="col-md-4 col-sm-12">
                                <label>Name</label>
                                <div class="form-group">
                                    <select class="form-control show-tick ms select2" data-placeholder="Select">
                                        <option>Select Name</option>
                                        <option>Magarita</option>
                                        <option>Mojito</option>
                                        <option>Kentucky mule</option>
                                        <option>Martini</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-12">
                                <label>Spirit</label>
                                <div class="form-group">
                                    <select class="form-control show-tick ms select2" data-placeholder="Select">
                                        <option>Select Spirit</option>
                                        <option>Rum</option>
                                        <option>Tequila</option>
                                        <option>Bourbon</option>
                                        <option>Vodka</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-12">
                                <label>Main Ingredients</label>
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Enter Ingredient">
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix">
                            <div class="col-md-4 col-sm-12">
                                <label>Brand</label>
                                <div class="form-group">
                                    <select class="form-control show-tick ms select2" data-placeholder="Select">
                                        <option>Select Brand</option>
                                        <option>Bacardi Superior</option>
                                        <option>Captain Morgan</option>
                                        <option>Patron Silver</option>
                                        <option>Buffalo Trace</option>
                                        <option>Hendrick's</option>
                                        <option>Finlandia Raspberry</option>
                                        <option>Buffalo Trace</option>
                                        <option>Patron Silver</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-12">
                                <label>Location</label>
                                <div class="form-group">
                                    <select class="form-control show-tick ms select2" data-placeholder="Select">
                                        <option>Select Location</option>
                                        <option>Akershus</option>
                                        <option>Ale & Compass</option>
                                        <option>Boma</option>
                                        <option>Cape May</option>
                                        <option>Chef Mickey's</option>
                                        <option>Hollywood & vine</option>
                                        <option>Mama Melrose's</option>
                                        <option>Martha's Vineyard</option>
                                        <option>Lounge</option>
                                        <option>Olivia's Cafe</option>
                                        <option>Cape May</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-12">
                                <label>Lounge Level</label>
                                <div class="form-group">
                                    <select class="form-control show-tick ms select2" data-placeholder="Select">
                                        <option>Select Lounge Level</option>
                                        <option>Lounge core</option>
                                        <option>Pool core</option>
                                        <option>Specialty moderate</option>
                                        <option>Specialty luxury</option>
                                        <option>Seasonal</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="row clearfix">
                            <div class="col-md-4 col-sm-12">
                                <label>Seasonal</label>
                                <div class="form-group">
                                    <select class="form-control show-tick ms select2" data-placeholder="Select">
                                        <option>Select Seasonal</option>
                                        <option>Signature parks</option>
                                        <option>Domestic Resort Mod</option>
                                        <option>Domestic Resort Lux</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer" style="margin-top: 40px;">
                    <!--<button type="button" class="btn btn-primary">Add</button>-->
                    <button type="button" class="btn btn-primary saveBtn">Search</button>
                    <button class="btn btn-primary loading" type="button" disabled style="display:none;">
                        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                        Searching...
                    </button>
                    <button type="reset" class="btn btn-secondary closeBtn">Reset</button>
                </div>
            </form>
        </div>
    </div>
</div>


@section dashboardscripts{
    <script src="~/Scripts/jquery-ui.min.js"></script>
    <script src="~/Scripts/datatable.js"></script>
    <script src="~/Scripts/datatables.min.js"></script>
    <script src="~/Scripts/datatables.bootstrap.js"></script>
}

@section Scripts {

    <script>
     var TableDatatablesColreorder = function () {

    var initTable1 = function () {
        var table = $('#CustomerTable');

        var oTable = table.dataTable({
            "stateSave": true,
            "autoWidth": false,
            "paging": true,
            // Internationalisation. For more info refer to http://datatables.net/manual/i18n
            "language": {
                "aria": {
                    "sortAscending": ": activate to sort column ascending",
                    "sortDescending": ": activate to sort column descending"
                },
                "emptyTable": "No data available in table",
                "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                "infoEmpty": "No entries found",
                "infoFiltered": "(filtered1 from _MAX_ total entries)",
                "lengthMenu": "_MENU_ entries",
                "search": "Search:",
                "zeroRecords": "No matching records found"
            },
            "pageLength": 10,
            "processing": true,
            "serverSide": true,
            "ajax": {
                async: true,
                url: '@Url.Action(Actions.BindData, Controllers.Home, new { area =""})',
                type: "post",
                data: BuildSearchCriteria()
            },
            "columns": [
                { "title": "Name", "data": "Name", "orderable": false, "width": "15%" },
                { "title": "Spirit", "data": "Spirit", "orderable": false, "width": "15%" },
                { "title": "Brand", "data": "Brand", "orderable": false, "width": "15%" },
                { "title": "Ingredients", "data": "Ingredients", "orderable": false, "width": "15%" },
                { "title": "Garnish", "data": "Garnish", "orderable": false, "width": "15%" },
                { "title": "Glassware", "data": "Glassware", "orderable": false, "width": "15%" },
                { "title": "Price", "data": "", 
                    "render": function (data, type, row) {
                        return '<p>$ &nbsp;' + row["Price"]+'</p>'
                    },
                    "orderable": false, "width": "15%"
                },
                { "title": "Location", "data": "Location", "orderable": false, "width": "15%" },
                { "title": "Lounge Level", "data": "LoungeLevel", "orderable": false, "width": "15%" },
                { "title": "Seasonal", "data": "Seasonal", "orderable": false, "width": "15%" },
                { "title": "Photo", "data": "",
                    "render": function (data, type, row) {
                        return '<img src="'+row["Photo"]+'" style="height:70px;"/>';
                    }
                    , "orderable": false, "width": "15%"
                },
                {
                    "title": "View","class":"actionIcon",
                    "data": null,
                    "render": function (data, type, row) {
                        var appendstring = '';
                        appendstring += '<button type="button" class="btn btn-sm btn-outline-secondary" onclick=ViewDrink() title="View Details"><i class="fa fa-eye"></i></button>&nbsp;&nbsp;';
                        return appendstring;
                    },
                    "width": "3%",
                    "orderable": false,
                    "class": "action-icons"
                }
            ],
            // setup buttons extentension: http://datatables.net/extensions/buttons/
            "buttons": [
                 {
                    text: 'Add New Item',
                    className: 'addData',
                    action: function (e, dt, node, config) {
                        //dt.ajax.reload();
                        OpenAddNewItem();
                    }
                },
                {
                    text: 'Advance Search',
                    className: 'addFilters',
                    action: function (e, dt, node, config) {
                        //dt.ajax.reload();
                        OpenFilters();
                    }
                }
            ],

            // setup responsive extension: http://datatables.net/extensions/responsive/
            responsive: true,

            "lengthMenu": [
                [5, 10, 15, 20,1000],
                [5, 10, 15, 20,1000] // change per page values here
            ],
            // set the initial value

            "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable datatable

            // Uncomment below line("dom" parameter) to fix the dropdown overflow issue in the datatable cells. The default datatable layout
            // setup uses scrollable div(table-scrollable) with overflow:auto to enable vertical scroll(see: assets/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.js).
            // So when dropdowns used the scrollable div should be removed.
            //"dom": "<'row' <'col-md-12'T>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r>t<'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>",
        });
    }

    return {

        //main function to initiate the module
        init: function () {
            if ($.fn.DataTable.isDataTable("#CustomerTable")) {
                $('#CustomerTable').dataTable().fnDestroy();
                $('#divCustomerTable').html('<table class="table table-striped" width="100%" id="CustomerTable"></table>');
            }
            initTable1();
        }
    };

}();

    function BuildSearchCriteria() {
    try {
        var param = {};
         return addRequestVerificationToken(param);
    } catch (e) { }
    }

    function addRequestVerificationToken(data) {
    data.__RequestVerificationToken = $('input[name=__RequestVerificationToken]').val();
    return data;
}


    function onSuccess(responseText, statusText, xhr, $form) {
            ShowMessageToastr(responseText[1], responseText[2], false);
            TableDatatablesColreorder.init();
        }

        function OpenFilters() {
             $('#filters').modal('show');
        }

    jQuery(document).ready(function () {
        TableDatatablesColreorder.init();
    });

        function ViewDrink() {
            window.location.href = '@Url.Action(Actions.ViewDrink, Controllers.Home)';
        }

        function OpenAddNewItem() {
            window.location.href = '@Url.Action(Actions.AddDrink, Controllers.Home)';
        }
    </script>
}

