﻿
@{
    ViewBag.Title = "View Drink Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .addData {
        color: white !important;
        background: #138496 !important;
    }

    .addFilters {
        color: black !important;
        background: #e9e9e9 !important;
    }
</style>

@using TodoDashboard.Common;
@using TodoDashboard.Pages;
@using TodoDashboard.Infrastructure;
@Html.AntiForgeryToken()

<div class="block-header">
    <div class="row">
        <div class="col-lg-6 col-md-8 col-sm-12">
            <h2><a href="javascript:void(0);" class="btn btn-xs btn-link btn-toggle-fullwidth"><i class="fa fa-arrow-left"></i></a>View Detail</h2>
            <ul class="breadcrumb">
                <li class="breadcrumb-item"><a href="dashboard.html"><i class="icon-home"></i></a></li>
                <li class="breadcrumb-item active"><a href="dashboard.html">Home</a></li>
                <li class="breadcrumb-item active">View Detail</li>
            </ul>
        </div>

    </div>
</div>

<div class="row clearfix">
    <div class="col-lg-12">
        <div class="card">
            <div class="body">
                <div>

                    <div class="row clearfix">
                        <div class="col-md-2 col-sm-12">
                            <label>Name</label>
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <div class="form-group">
                                <input type="text" class="form-control" value="Bacardi,Mojito" placeholder="Enter Name" disabled>
                            </div>
                        </div>
                    </div>
                    <div class="row clearfix">
                        <div class="col-md-2 col-sm-12">
                            <label>Spirit</label>
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <div class="form-group">
                                <input type="text" class="form-control" value="Rum" placeholder="Enter Id" disabled>
                            </div>
                        </div>
                    </div>
                    <div class="row clearfix">
                        <div class="col-md-2 col-sm-12">
                            <label>Brand</label>
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <div class="form-group">
                                <input type="text" class="form-control" value="Bacardi,Superior" placeholder="Enter Id" disabled>
                            </div>
                        </div>
                    </div>
                    <div class="row clearfix">
                        <div class="col-md-2 col-sm-12">
                            <label>Ingredient</label>
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <div class="form-group">
                                <input type="text" class="form-control" value="Lime wedges 2 each (in drink as gamish),Mint Leaves 4 each" placeholder="Enter Id" disabled>
                            </div>
                        </div>
                    </div>
                    <div class="row clearfix">
                        <div class="col-md-2 col-sm-12">
                            <label>Garnish</label>
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <div class="form-group">
                                <input type="text" class="form-control" value="Lime wheel,mint spring" placeholder="Enter Id" disabled>
                            </div>
                        </div>
                    </div>
                    <div class="row clearfix">
                        <div class="col-md-2 col-sm-12">
                            <label>Glassware</label>
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <div class="form-group">
                                <input type="text" class="form-control" value="Collins" placeholder="Enter Id" disabled>
                            </div>
                        </div>
                    </div>
                    <div class="row clearfix">
                        <div class="col-md-2 col-sm-12">
                            <label>Price</label>
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <div class="form-group">
                                <input type="text" class="form-control" value="$ 13" placeholder="Enter Id" disabled>
                            </div>
                        </div>
                    </div>
                    <div class="row clearfix">
                        <div class="col-md-2 col-sm-12">
                            <label>Location</label>
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <div class="form-group">
                                <input type="text" class="form-control" value="Akershus,Ale & Compass,Boma,Cape May,Chef Mickey's" placeholder="Enter Id" disabled>
                            </div>
                        </div>
                    </div>
                    <div class="row clearfix">
                        <div class="col-md-2 col-sm-12">
                            <label>Lounge Level</label>
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <div class="form-group">
                                <input type="text" class="form-control" value="Signature" placeholder="Enter Id" disabled>
                            </div>
                        </div>
                    </div>
                    <div class="row clearfix">
                        <div class="col-md-2 col-sm-12">
                            <label>Seasonal</label>
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <div class="form-group">
                                <input type="text" class="form-control" value="Domestic,Resort,Moderate" placeholder="Enter Id" disabled>
                            </div>
                        </div>
                    </div>
                    <div class="row clearfix">
                        <div class="col-md-2 col-sm-12">
                        </div>
                        <div class="col-md-6 col-sm-12">
                        </div>
                        <div class="col-md-4 col-sm-12">
                            <img src="../assets/images/xs/wine.png" class="text"
                                 style="margin-top: -300px;height: 300px;">
                        </div>
                    </div>
                </div>
            </div>
            <div style="float:right; padding:20px">
                <!--<button type="button" class="btn btn-primary">Add</button>-->
                <button type="button" class="btn btn-primary">Save</button>
                <!-- <button class="btn btn-primary loading" type="button" disabled style="display:none;">
                    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                    Searching...
                </button> -->
                <button onclick="openHome();" type="button" class="btn btn-outline-dark" data-dismiss="modal">Cancel</button>
            </div>

        </div>
    </div>
</div>

@section dashboardscripts{

}

@section Scripts {
    <script>
        function openHome() {
    window.location.href = '@Url.Action(Actions.Index, Controllers.Home)';
    }
    </script>
    
}

