﻿@using TodoDashboard.Pages;
@using TodoDashboard.Infrastructure;
@using TodoDashboard.Entities.V1;

@model Users
@{
    ViewBag.Title = "LogIn";
    string userName = string.Empty;
    string password = string.Empty;
    Layout = "";
    if (Request.Cookies["UserLogin"] != null)
    {
        userName = Convert.ToString(Request.Cookies["UserLogin"].Values["UserName"]);
        password = Convert.ToString(Request.Cookies["UserLogin"].Values["Password"]);
    }
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no">
    <title> @ViewBag.Title | Glod Cleaning</title>
    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <link href="https://fonts.googleapis.com/css?family=Nunito:400,600,700" rel="stylesheet">
    <link href="~/Styles/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Styles/plugins.css" rel="stylesheet" type="text/css" />
    <link href="~/Styles/form-2.css" rel="stylesheet" type="text/css" />
    <!-- END GLOBAL MANDATORY STYLES -->
    <!-- BEGIN PAGE LEVEL CUSTOM STYLES -->
    <link rel="stylesheet" type="text/css" href="~/Styles/theme-checkbox-radio.css">
    <link rel="stylesheet" type="text/css" href="~/Styles/switches.css">
    <!-- BEGIN PAGE LEVEL CUSTOM STYLES -->
</head>
<body class="form">
    <div class="form-container outer">
        <div class="form-form">
            <div class="form-form-wrap">
                <div class="form-container">
                    <div class="form-content">
                        <h1 class="">Sign In</h1>
                        <p class="">Log in to your account to continue.</p>
                        @using (Html.BeginForm(Actions.LogIn, Controllers.Account, new { Area = "" }, FormMethod.Post, new { @id = "frmLogin", @class = "text-left", role = "form" }))
                        {
                            @Html.AntiForgeryToken()
                            <div class="form">
                                <div id="username-field" class="field-wrapper input">
                                    <label for="validationCustom01">Email</label>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-user"><path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path><circle cx="12" cy="7" r="4"></circle></svg>
                                    @Html.TextBoxFor(model => model.Email, new { @class = "form-control", @placeholder = "Email", required = "required" })
                                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                                </div>
                                <div id="password-field" class="field-wrapper input mb-2">
                                    <div class="d-flex justify-content-between">
                                        <label for="validationCustom02">PASSWORD</label><label for="password"></label>
                                        <a href="#" class="forgot-pass-link">Forgot Password?</a>
                                    </div>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-lock"><rect x="3" y="11" width="18" height="11" rx="2" ry="2"></rect><path d="M7 11V7a5 5 0 0 1 10 0v4"></path></svg>
                                    @Html.PasswordFor(model => model.Password, new { @id="password" , @class = "form-control", @placeholder = "Password", required = "required" })
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" id="toggle-password" class="feather feather-eye"><path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z"></path><circle cx="12" cy="12" r="3"></circle></svg>
                                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                                </div>
                                <div class="d-sm-flex justify-content-between">
                                    <div class="field-wrapper">
                                        <button type="submit" class="btn btn-primary" value="">Log In</button>
                                    </div>
                                </div>
                                <p class="signup-link">Not registered ? <a href="auth_register_boxed.html">Create an account</a></p>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- BEGIN GLOBAL MANDATORY SCRIPTS -->
    <script src="~/Scripts/jquery-3.1.1.min.js"></script>
    <script src="~/Scripts/popper.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>

    <!-- END GLOBAL MANDATORY SCRIPTS -->
    <script src="~/Scripts/form-2.js"></script>
    <script src="~/Scripts/custom.js"></script>
    <!-- END GLOBAL MANDATORY SCRIPTS -->
    <!--  BEGIN CUSTOM SCRIPTS FILE  -->
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <!--  END CUSTOM SCRIPTS FILE  -->
    <script src="~/Scripts/login.js"></script>
</body>
</html>