﻿
@{
    ViewBag.Title="Dashboard";
    Layout="~/Views/Shared/_Layout.cshtml";
}

<style>
    .checkbox {
        width: 25px;
        height: 25px;
    }

    .checkbox2 {
        width: 25px;
        height: 25px;
    }

    thead {
        background: #000;
        color: white;
    }

    .addData {
        color: white !important;
        background: #138496 !important;
    }

    .addDelete {
        color: black !important;
        background: #e9e9e9 !important;
    }

    .hideDelete {
        display: none !important;
    }

    .addFilters {
        color: white !important;
        background: #000 !important;
    }

    * {
        box-sizing: border-box;
    }

    body {
        font: 16px Arial;
    }

    .autocomplete {
        position: relative;
        /*display: inline-block;*/
    }

    .activecart {
        background-color: #0069D9;
    }

    .inactive {
        color: black;
        background-color: white;
    }

    .activecart .p-15 {
        color: white;
    }

    .card .body h3 {
        font-size: 20px;
    }

    @@media(max-width:1398px) {
        .card .p-15 {
            padding: 3px !important;
        }
    }

    @@media(max-width:1258px) {
        .card .body span {
            font-size: 13px;
        }

        .card .p-15 {
            padding: 0 !important;
        }

        .card .body {
            padding: 13px;
        }
    }

    input {
        border: 1px solid transparent;
        background-color: #f1f1f1;
        padding: 10px;
        font-size: 16px;
    }

        input[type=text] {
            background-color: #f1f1f1;
            width: 100%;
        }

        input[type=submit] {
            background-color: DodgerBlue;
            color: #fff;
            cursor: pointer;
        }

    .autocomplete-items {
        position: absolute;
        border: 1px solid #d4d4d4;
        border-bottom: none;
        border-top: none;
        z-index: 99;
        top: 100%;
        left: 0;
        right: 0;
    }

        .autocomplete-items div {
            padding: 10px;
            cursor: pointer;
            background-color: #fff;
            border-bottom: 1px solid #d4d4d4;
        }

            .autocomplete-items div:hover {
                background-color: #e9e9e9;
            }

    .autocomplete-active {
        background-color: DodgerBlue !important;
        color: #ffffff;
    }
</style>

@using TodoDashboard.Common;
@using TodoDashboard.Pages;
@using TodoDashboard.Infrastructure;
@Html.AntiForgeryToken()
@*<input type="hidden" value="0" id="select_all_switch" />
    <input type="hidden" value="0" id="select_all2_switch" />*@
<input type="hidden" id="checklog" />
<div class="modal animated fadeIn" id="modalLocationExcelOption" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="title">Custom Excel Download</h6>
            </div>

            <div class="modal-body">
                <div class="row clearfix">
                    <div class="col-6 col-sm-6">
                        <div class="card text-center activecart" style="cursor:pointer;" onclick="DonwloadExcel('location','checklog',false)">
                            <div class="body">
                                <div class="p-15">
                                    <h3>Location Data</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 col-sm-6">
                        <div class="card text-center activecart" style="cursor:pointer;" onclick="DonwloadExcel('location','checklog',true)">
                            <div class="body">
                                <div class="p-15">
                                    <h3>Location with Wine Data</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12" style="text-align:right;">
                        <button type="button" class="btn btn-secondary closeBtn" onclick="CloseLocationExcelOptionModal();" id="btnCloseLocationExcelOption">Close</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<div class="modal animated fadeIn" id="modalWineExcelOption" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="title" id="lblPreApproval">Custom Excel Download</h6>
            </div>

            <div class="modal-body">
                <div class="row clearfix">
                    <div class="col-6 col-sm-6">
                        <div class="card text-center activecart" style="cursor:pointer;" onclick="DonwloadExcel('wine','checklog2',false)">
                            <div class="body">
                                <div class="p-15">
                                    <h3>Wine Data</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 col-sm-6">
                        <div class="card text-center activecart" style="cursor:pointer;" onclick="DonwloadExcel('wine','checklog2',true)">
                            <div class="body">
                                <div class="p-15">
                                    <h3>Wine With Location Data</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12" style="text-align:right;">
                        <button type="button" class="btn btn-secondary closeBtn" onclick="CloseWineExcelOptionModal();" id="btnWineExcelOption">Close</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<div class="block-header">
    <div class="row">
        <div class="col-lg-6 col-md-8 col-sm-12">
            <h2><a href="javascript:void(0);" onclick="history.back();" class="btn btn-xs btn-link"><i class="fa fa-arrow-left"></i></a> Dashboard</h2>
        </div>
    </div>
</div>

<div class="row clearfix">

    <div class="col-lg-12">
        <div class="card">
            <div class="body">
                <ul class="nav nav-tabs">
                    <li class="nav-item"><a class="nav-link active show" id="location" data-toggle="tab" href="#Home-withicon">Locations</a></li>
                    <li class="nav-item"><a class="nav-link" id="wine" data-toggle="tab" href="#Profile-withicon">Wines</a></li>
                    <li class="nav-item"><a class="nav-link" id="pricingtier" data-toggle="tab" href="#Pricing-withicon">Pricing Tier</a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane show active" id="Home-withicon">
                        <div class="body">
                            <div class="portlet light bordered">
                                <div class="portlet-title">
                                    <div class="tools col-md-12"></div>
                                </div>
                                <div class="portlet-body" id="divCustomerTable">
                                    <table class="table table-striped table-bordered table-hover" id="CustomerTable"></table>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="tab-pane" id="Profile-withicon">
                        <div class="body">
                            <div class="portlet light bordered">
                                <div class="portlet-title">
                                    <input type="hidden" id="checklog2" />
                                    <div class="tools col-md-12"></div>
                                </div>
                                <div class="portlet-body" id="divWineTable">
                                    <table class="table table-striped table-bordered table-hover" id="WineTable"></table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="Pricing-withicon">
                        <div class="body">
                            <div class="portlet light bordered">
                                <div class="portlet-title">
                                    <input type="hidden" id="checklog3" />
                                    <div class="tools col-md-12"></div>
                                </div>
                                <div class="portlet-body" id="divPricingTierTable">
                                    <table class="table table-striped table-bordered table-hover" id="PricingTierTable"></table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal animated fadeIn" id="by_location" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <form>
                <div class="modal-header">
                    <h6 class="title" id="defaultModalLabel">Advance Search</h6>
                </div>
                <div class="modal-body">
                    <div>
                        <div class="row clearfix">
                            <div class="col-md-4 col-sm-12">
                                <label>Id</label>
                                <div class="form-group autocomplete">
                                    <input type="text" id="LocationId" class="form-control" placeholder="Enter Id">
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-12">
                                <label>Location</label>
                                <div class="form-group autocomplete">
                                    <input type="text" id="LocationName" class="form-control" placeholder="Enter Location">
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-12">
                                <label>State</label>
                                <div class="form-group">
                                    @Html.DropDownList("StateId", (IEnumerable<SelectListItem>)ViewBag.States, "Select State", new { @Id = "StateId", @class = "form-control show-tick ms select2" })
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix">
                            <div class="col-md-4 col-sm-12">
                                <label>Service Type</label>
                                <div class="form-group">
                                    @Html.DropDownList("ServiceTypeId", (IEnumerable<SelectListItem>)ViewBag.ServiceTypes, "Select Service Type", new { @Id = "ServiceTypeId", @class = "form-control show-tick ms select2" })
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-12">
                                <label>Bar Type</label>
                                <div class="form-group">
                                    @Html.DropDownList("BarTypeId", (IEnumerable<SelectListItem>)ViewBag.BarTypes, "Select Bar Type", new { @Id = "BarTypeId", @class = "form-control show-tick ms select2" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <!--<button type="button" class="btn btn-primary">Add</button>-->
                    <button type="button" class="btn btn-primary saveBtn" onclick="locationSearch();">Search</button>
                    <button class="btn btn-primary loading" type="button" disabled="" style="        display: none;">
                        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                        Searching...
                    </button>
                    <button type="reset" class="btn btn-secondary closeBtn" onclick="locationReset();">Reset</button>
                </div>
            </form>
        </div>
    </div>
</div>


<div class="modal animated fadeIn" id="by_wine" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <form>
                <div class="modal-header">
                    <h6 class="title" id="defaultModalLabel">Advance Search</h6>
                </div>
                <div class="modal-body">
                    <div class="row clearfix">
                        <div class="col-lg-12">
                            <div>
                                <div class="row clearfix">
                                    <div class="col-md-6 col-sm-12">
                                        <label>Wine Name</label>
                                        <div class="form-group autocomplete">
                                            <input type="text" id="WineName" class="form-control" placeholder="Enter Wine Name">
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-12">
                                        <label>Varietal</label>
                                        <div class="form-group">
                                            @Html.DropDownList("VarietalId", (IEnumerable<SelectListItem>)ViewBag.WineVaritals, "Select Wine Varital", new { @Id = "VarietalId", @class = "form-control show-tick ms select2" })
                                        </div>
                                    </div>

                                </div>

                                <div class="row clearfix">
                                    <div class="col-md-4 col-sm-12">
                                        <label>Calories</label>
                                        <div class="form-group">
                                            <input type="text" id="Calories" class="form-control" placeholder="Enter Calories">
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-12">
                                        <label>Distributor</label>
                                        <div class="form-group">
                                            @Html.DropDownList("DistributorId", (IEnumerable<SelectListItem>)ViewBag.Distributors, "Select Distributor", new { @Id = "DistributorId", @class = "form-control show-tick ms select2" })
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-12">
                                        <label>Tier</label>
                                        <div class="form-group">
                                            @Html.DropDownList("TierId", (IEnumerable<SelectListItem>)ViewBag.Tiers, "Select Tier", new { @Id = "TierId", @class = "form-control show-tick ms select2" })
                                        </div>
                                    </div>

                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <!--<button type="button" class="btn btn-primary">Add</button>-->
                    <button type="button" class="btn btn-primary saveBtn" onclick="wineSearch();">Search</button>
                    <button class="btn btn-primary loading" type="button" disabled="" style="        display: none;">
                        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                        Searching...
                    </button>
                    <button type="reset" class="btn btn-secondary closeBtn" onclick="wineReset();">Reset</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal animated fadeIn" id="by_pricingtier" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <form>
                <div class="modal-header">
                    <h6 class="title" id="defaultModalLabel">Advance Search</h6>
                </div>
                <div class="modal-body">
                    <div class="row clearfix">
                        <div class="col-lg-12">
                            <div>
                                <div class="row clearfix">
                                    <div class="col-md-6 col-sm-12">
                                        <label>Wine Name</label>
                                        <div class="form-group autocomplete">
                                            @Html.DropDownList("MasterWinesId", (IEnumerable<SelectListItem>)ViewBag.MasterWines, "Select Wine", new { @Id = "MasterWinesId", @class = "form-control show-tick ms select2" })
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-12">
                                        <label>Varietal</label>
                                        <div class="form-group">
                                            @Html.DropDownList("MasterWineVaritalId", (IEnumerable<SelectListItem>)ViewBag.WineVaritals, "Select Wine Varital", new { @Id = "MasterWineVaritalId", @class = "form-control show-tick ms select2" })
                                        </div>
                                    </div>

                                </div>

                                <div class="row clearfix">
                                    <div class="col-md-6 col-sm-12">
                                        <label>Distributor</label>
                                        <div class="form-group">
                                            @Html.DropDownList("MasterDistributorId", (IEnumerable<SelectListItem>)ViewBag.Distributors, "Select Distributor", new { @Id = "MasterDistributorId", @class = "form-control show-tick ms select2" })
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-12">
                                        <label>Tier</label>
                                        <div class="form-group">
                                            @Html.DropDownList("MasterTierId", (IEnumerable<SelectListItem>)ViewBag.Tiers, "Select Tier", new { @Id = "MasterTierId", @class = "form-control show-tick ms select2" })
                                        </div>
                                    </div>

                                </div>
                                <div class="row clearfix">
                                    <div class="col-md-6 col-sm-12">
                                        <label>Supplier</label>
                                        <div class="form-group">
                                            @Html.DropDownList("MasterSupplierId", (IEnumerable<SelectListItem>)ViewBag.MasterSuppliers, "Select Supplier", new { @Id = "MasterSupplierId", @class = "form-control show-tick ms select2" })
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-12">
                                        <label>Level</label>
                                        <div class="form-group">
                                            @Html.DropDownList("MasterLevelId", (IEnumerable<SelectListItem>)ViewBag.MasterLevel, "Select Level", new { @Id = "MasterLevelId", @class = "form-control show-tick ms select2" })
                                        </div>
                                    </div>

                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <!--<button type="button" class="btn btn-primary">Add</button>-->
                    <button type="button" class="btn btn-primary saveBtn" onclick="PricingTierSearch();">Search</button>
                    <button class="btn btn-primary loading" type="button" disabled="" style="        display: none;">
                        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                        Searching...
                    </button>
                    <button type="reset" class="btn btn-secondary closeBtn" onclick="PricingTierReset();">Reset</button>
                </div>
            </form>
        </div>
    </div>
</div>

@*<div class="row clearfix">
        <div class="col-md-12">
            <div class="card">
                <div class="body">

                </div>
            </div>
        </div>
    </div>*@


@section dashboardscripts{
    <script src="~/Scripts/jquery-ui.min.js"></script>
    <script src="~/Scripts/datatable.js"></script>
    <script src="~/Scripts/datatables.min.js"></script>
    <script src="~/Scripts/datatables.bootstrap.js"></script>
}

@section Scripts {

    <script>

    jQuery(document).ready(function () {
        locationIds = @Html.Raw(ViewBag.LocationIds);
        locationNames = @Html.Raw(ViewBag.LocationName);
        wineNames = @Html.Raw(ViewBag.WineName);
        const queryString = window.location.search;
            const urlParams = new URLSearchParams(queryString);
            const page = urlParams.get('page');
            if (page == "wine") {
                $("#location").removeClass("active");
                $("#wine").addClass("active");
                $("#Home-withicon").removeClass("active");
                $("#Profile-withicon").addClass("active");
            }
            if (page == "pricingtier") {
                $("#location").removeClass("active");
                $("#pricingtier").addClass("active");
                $("#Home-withicon").removeClass("active");
                $("#Pricing-withicon").addClass("active");
            }
        autocomplete(document.getElementById("LocationId"), locationIds);
        autocomplete(document.getElementById("LocationName"), locationNames);
        autocomplete(document.getElementById("WineName"), wineNames);


        TableDatatablesColreorder.init();

        TableDatatablesColreorder2.init();

        TableDatatablesColreorder3.init();
        $(document).on('search.dt', '#CustomerTable',function () {

                var param = {};
                param["LocationId"] = $("#LocationId").val();
                param["Location"] = $("#LocationName").val();
                param["StateId"] = $("#StateId").val();
                param["ServiceTypeId"] = $("#ServiceTypeId").val();
                param["BarTypeId"] = $("#BarTypeId").val();
                param["Search"] = $("#CustomerTable_filter input").val();

                MasterCheckBoxChangeEvent($('#select_all'), 'location', $('#checklog'), param, true);
        });

        $(document).on('search.dt', '#WineTable', function () {

            var param = {};
            param["WineName"] = $("#WineName").val();
            param["VarietalId"] = $("#VarietalId").val();
            param["Calories"] = $("#Calories").val();
            param["DistributorId"] = $("#DistributorId").val();
            param["TierId"] = $("#TierId").val();
            param["Search"] = $("#WineTable_filter input").val();
            MasterCheckBoxChangeEvent($('#select_all2'), 'wine', $('#checklog2'), param, true);
        });


        });


             var TableDatatablesColreorder3 = function () {

     var initTable1 = function () {
        var table = $('#PricingTierTable');

         var oTable = table.dataTable({

            "stateSave": true,
            "autoWidth": false,
            "paging": true,
            // Internationalisation. For more info refer to http://datatables.net/manual/i18n
            "language": {
                "aria": {
                    "sortAscending": ": activate to sort column ascending",
                    "sortDescending": ": activate to sort column descending"
                },
                "emptyTable": "No data available in table",
                "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                "infoEmpty": "No entries found",
                "infoFiltered": "(filtered1 from _MAX_ total entries)",
                "lengthMenu": "_MENU_ entries",
                "search": "Search:",
                "zeroRecords": "No matching records found"
            },
            "pageLength": 500,
            "processing": true,
            "serverSide": true,
            "ajax": {
                async: true,
                url: '@Url.Action(Actions.BindPricingTierData, Controllers.Home, new { area =""})',
                type: "post",
                data: BuildSearchCriteria3()
            },

            "columns": [
                {
                    "title": "<input type='checkbox' id='select_all' class='checkbox'>", "data": "",
                    "render": function (data, type, row) {

                        let dataChecked = $("#checklog3").val();
                        let dataCheckedArr = dataChecked.split(',');



                        if (dataCheckedArr.find(element => element == row["Id"])) {
                            return '<input type="checkbox" value="' + row["Id"] + '" onchange="CheckboxChangeEvent(this,' + $("#checklog3").attr("id") + ',' + $("#select_all").attr("id") + ');" class="md-check child checkbox" checked>';
                        } else {
                            return '<input type="checkbox" value="' + row["Id"] + '" onchange="CheckboxChangeEvent(this,' + $("#checklog3").attr("id") + ',' + $("#select_all").attr("id") + ');" class="md-check child checkbox" >';
                        }
                    }
                    , "orderable": false, "width": "1%"
                },

                //{

                //    "title": "<input type='checkbox' id='select_all' class='checkbox'>", "data": "",
                //    "render": function (data, type, row) {
                //        return '<input type="checkbox" value="' + row["Id"] +'" class="md-check child checkbox">';
                //    }
                //    , "orderable": false, "width": "1%",

                //},
                { "title": "WineName", "data": "WineName", "orderable": false, "width": "5%" },
                { "title": "Wine Varital", "data": "WineVaritalName", "orderable": false, "width": "5%" },
                { "title": "Distributor", "data": "DistributorName", "orderable": false, "width": "5%" },
                { "title": "Supplier", "data": "SupplierName", "orderable": false, "width": "5%" },
                { "title": "Level", "data": "LevelName", "orderable": false, "width": "5%" },
                { "title": "Tier", "data": "TierName", "orderable": false, "width": "5%" },
                { "title": "Cal5oz", "data": "Cal5oz", "orderable": false, "width": "5%" },
                { "title": "Cal8oz", "data": "Cal8oz", "orderable": false, "width": "5%" },
                { "title": "Cal6oz", "data": "Cal6oz", "orderable": false, "width": "5%" },
                { "title": "CalBottle", "data": "CalBottle", "orderable": false, "width": "5%" },
                { "title": "Price5oz", "data": "Price5oz", "orderable": false, "width": "5%" },
                { "title": "Price8oz", "data": "Price8oz", "orderable": false, "width": "5%" },

                { "title": "PriceBottle", "data": "PriceBottle", "orderable": false, "width": "5%" },
                {
                    "title": @ProjectSession.UserType == 1 ? "Edit": "View","class":"actionIcon",
                    "data": null,
                    "render": function (data, type, row) {
                        var appendstring = '';
                        if (@ProjectSession.UserType == 1) {
                            appendstring += '<a  href="@Url.Action(Actions.Index,Controllers.PricingTier)?Id='+row["Id"]+'" class="btn btn-sm btn-outline-secondary" title="Edit Details"><i class="fa fa-edit"></i></a>&nbsp;&nbsp;';
                        } else {
                            appendstring += '<a href="@Url.Action(Actions.Index,Controllers.PricingTier)?Id='+row["Id"]+'" class="btn btn-sm btn-outline-secondary" title="View Details"><i class="fa fa-eye"></i></a>&nbsp;&nbsp;';
                        }

                        return appendstring;
                    },
                    "width": "3%",
                    "orderable": false,
                    "class": "action-icons"
                }
            ],

            // setup buttons extentension: http://datatables.net/extensions/buttons/
            "buttons": [
                 {
                    text: 'Add New PricingTier',
                    className: @ProjectSession.UserType == 1 ? 'addData':'hideDelete',
                    action: function (e, dt, node, config) {
                        //dt.ajax.reload();
                        window.location.href = '@Url.Action(Actions.Index,Controllers.PricingTier)';
                    }
                },
                {
                    text: 'Advance Search',
                    className: 'addFilters',
                    action: function (e, dt, node, config) {
                        //dt.ajax.reload();
                        OpenPricingTierFilters();
                    }
                },
                {
                    text: 'Delete',
                    className: @ProjectSession.UserType == 1 ? 'addDelete':'hideDelete',
                    action: function (e, dt, node, config) {
                        //dt.ajax.reload();
                        ConfirmMessage('pricingtier');
                    }
                },
                {
                    text: 'Export to Excel',
                    className: 'addDelete',
                    action: function (e, dt, node, config) {
                        OpenPricingTierExcelOptionModal();
                    }
                },
            ],

            // setup responsive extension: http://datatables.net/extensions/responsive/
            responsive: true,

            "lengthMenu": [
                [5,500,1000],
                [5,500,1000] // change per page values here
            ],
            // set the initial value

            "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable datatable

            // Uncomment below line("dom" parameter) to fix the dropdown overflow issue in the datatable cells. The default datatable layout
            // setup uses scrollable div(table-scrollable) with overflow:auto to enable vertical scroll(see: assets/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.js).
            // So when dropdowns used the scrollable div should be removed.
            //"dom": "<'row' <'col-md-12'T>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r>t<'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>",
        });


    }

    return {

        //main function to initiate the module
        init: function () {
            if ($.fn.DataTable.isDataTable("#PricingTierTable")) {
                $('#PricingTierTable').dataTable().fnDestroy();
                $('#divPricingTierTable').html('<table class="table table-striped" width="100%" id="PricingTierTable"></table>');
            }

            initTable1();

        }

    };

}();


    function BuildSearchCriteria3() {
    try {
        var param = {};
        //param["Search"] = $("#CustomerTable_filter input").val();
        param["MasterWineId"] = $("#MasterWinesId").val();
        param["MasterWineVaritalId"] = $("#MasterWineVaritalId").val();
        param["MasterDistributorId"] = $("#MasterDistributorId").val();
        param["MasterSupplierId"] = $("#MasterSupplierId").val();
        param["MasterLevelId"] = $("#MasterLevelId").val();
        param["MasterTierId"] = $("#MasterTierId").val();
         return addRequestVerificationToken3(param);
    } catch (e) { }
    }
        
    function addRequestVerificationToken3(data) {
       data.__RequestVerificationToken = $('input[name=__RequestVerificationToken]').val();
       return data;
        }

        function OpenPricingTierFilters() {
            $("#by_pricingtier").modal("show");
        }

        function PricingTierSearch() {
            $("#by_pricingtier").modal("hide");
            TableDatatablesColreorder3.init();
        }

        function PricingTierReset() {
            $("#MasterWinesId").val(0);
            $("#MasterWineVaritalId").val(0);
            $("#MasterDistributorId").val(0);
            $("#MasterSupplierId").val(0);
            $("#MasterLevelId").val(0);
            $("#MasterTierId").val(0);
            $("#by_pricingtier").modal("hide");
            TableDatatablesColreorder3.init();
        }


    var locationIds = [];
    var locationNames = [];
    var wineNames = [];

     var TableDatatablesColreorder = function () {

     var initTable1 = function () {
        var table = $('#CustomerTable');

         var oTable = table.dataTable({

            "stateSave": true,
            "autoWidth": false,
            "paging": true,
            // Internationalisation. For more info refer to http://datatables.net/manual/i18n
            "language": {
                "aria": {
                    "sortAscending": ": activate to sort column ascending",
                    "sortDescending": ": activate to sort column descending"
                },
                "emptyTable": "No data available in table",
                "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                "infoEmpty": "No entries found",
                "infoFiltered": "(filtered1 from _MAX_ total entries)",
                "lengthMenu": "_MENU_ entries",
                "search": "Search:",
                "zeroRecords": "No matching records found"
            },
            "pageLength": 500,
            "processing": true,
            "serverSide": true,
            "ajax": {
                async: true,
                url: '@Url.Action(Actions.BindLocationData, Controllers.Home, new { area =""})',
                type: "post",
                data: BuildSearchCriteria()
            },

            "columns": [
                {
                    "title": "<input type='checkbox' id='select_all' class='checkbox'>", "data": "",
                    "render": function (data, type, row) {

                        let dataChecked = $("#checklog").val();
                        let dataCheckedArr = dataChecked.split(',');



                        if (dataCheckedArr.find(element => element == row["Id"])) {
                            return '<input type="checkbox" value="' + row["Id"] + '" onchange="CheckboxChangeEvent(this,' + $("#checklog").attr("id") + ',' + $("#select_all").attr("id") + ');" class="md-check child checkbox" checked>';
                        } else {
                            return '<input type="checkbox" value="' + row["Id"] + '" onchange="CheckboxChangeEvent(this,' + $("#checklog").attr("id") + ',' + $("#select_all").attr("id") + ');" class="md-check child checkbox" >';
                        }
                    }
                    , "orderable": false, "width": "1%"
                },

                //{

                //    "title": "<input type='checkbox' id='select_all' class='checkbox'>", "data": "",
                //    "render": function (data, type, row) {
                //        return '<input type="checkbox" value="' + row["Id"] +'" class="md-check child checkbox">';
                //    }
                //    , "orderable": false, "width": "1%",

                //},
                { "title": "Id", "data": "LocationId", "orderable": false, "width": "5%" },
                { "title": "Location", "data": "LocationName", "orderable": false, "width": "5%" },
                { "title": "State", "data": "StateName", "orderable": false, "width": "5%" },
                { "title": "Service Type", "data": "MasterServiceTypeName", "orderable": false, "width": "5%" },
                { "title": "Bar Type", "data": "MasterBarTypeName", "orderable": false, "width": "5%" },
                {
                    "title": @ProjectSession.UserType == 1 ? "Edit": "View","class":"actionIcon",
                    "data": null,
                    "render": function (data, type, row) {
                        var appendstring = '';
                        if (@ProjectSession.UserType == 1) {
                            appendstring += '<a  href="@Url.Action(Actions.Index,Controllers.Location)?Id='+row["Id"]+'" class="btn btn-sm btn-outline-secondary" title="Edit Details"><i class="fa fa-edit"></i></a>&nbsp;&nbsp;';
                        } else {
                            appendstring += '<a href="@Url.Action(Actions.Index,Controllers.Location)?Id='+row["Id"]+'" class="btn btn-sm btn-outline-secondary" title="View Details"><i class="fa fa-eye"></i></a>&nbsp;&nbsp;';
                        }

                        return appendstring;
                    },
                    "width": "3%",
                    "orderable": false,
                    "class": "action-icons"
                }
            ],

            // setup buttons extentension: http://datatables.net/extensions/buttons/
            "buttons": [
                 {
                    text: 'Add New Location',
                    className: @ProjectSession.UserType == 1 ? 'addData':'hideDelete',
                    action: function (e, dt, node, config) {
                        //dt.ajax.reload();
                        window.location.href = '@Url.Action(Actions.Index,Controllers.Location)';
                    }
                },
                {
                    text: 'Advance Search',
                    className: 'addFilters',
                    action: function (e, dt, node, config) {
                        //dt.ajax.reload();
                        OpenLocationFilters();
                    }
                },
                {
                    text: 'Delete',
                    className: @ProjectSession.UserType == 1 ? 'addDelete':'hideDelete',
                    action: function (e, dt, node, config) {
                        //dt.ajax.reload();
                        ConfirmMessage('locations');
                    }
                },
                {
                    text: 'Export to Excel',
                    className: 'addDelete',
                    action: function (e, dt, node, config) {
                        OpenLocationExcelOptionModal();
                    }
                },
            ],

            // setup responsive extension: http://datatables.net/extensions/responsive/
            responsive: true,

            "lengthMenu": [
                [5,500,1000],
                [5,500,1000] // change per page values here
            ],
            // set the initial value

            "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable datatable

            // Uncomment below line("dom" parameter) to fix the dropdown overflow issue in the datatable cells. The default datatable layout
            // setup uses scrollable div(table-scrollable) with overflow:auto to enable vertical scroll(see: assets/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.js).
            // So when dropdowns used the scrollable div should be removed.
            //"dom": "<'row' <'col-md-12'T>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r>t<'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>",
        });


    }

    return {

        //main function to initiate the module
        init: function () {
            if ($.fn.DataTable.isDataTable("#CustomerTable")) {
                $('#CustomerTable').dataTable().fnDestroy();
                $('#divCustomerTable').html('<table class="table table-striped" width="100%" id="CustomerTable"></table>');
            }

            initTable1();

        }

    };

}();


    function BuildSearchCriteria() {
    try {
        var param = {};
        param["LocationId"] = $("#LocationId").val();
        param["Location"] = $("#LocationName").val();
        param["StateId"] = $("#StateId").val();
        param["ServiceTypeId"] = $("#ServiceTypeId").val();
        param["BarTypeId"] = $("#BarTypeId").val();
         return addRequestVerificationToken(param);
    } catch (e) { }
    }

    function addRequestVerificationToken(data) {
       data.__RequestVerificationToken = $('input[name=__RequestVerificationToken]').val();
       return data;
        }

    var TableDatatablesColreorder2 = function () {

    var initTable2 = function () {
        var table = $('#WineTable');

        var oTable = table.dataTable({
            "stateSave": true,
            "autoWidth": false,
            "paging": true,
            // Internationalisation. For more info refer to http://datatables.net/manual/i18n
            "language": {
                "aria": {
                    "sortAscending": ": activate to sort column ascending",
                    "sortDescending": ": activate to sort column descending"
                },
                "emptyTable": "No data available in table",
                "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                "infoEmpty": "No entries found",
                "infoFiltered": "(filtered1 from _MAX_ total entries)",
                "lengthMenu": "_MENU_ entries",
                "search": "Search:",
                "zeroRecords": "No matching records found"
            },
            "pageLength": 500,
            "processing": true,
            "serverSide": true,
            "ajax": {
                async: true,
                url: '@Url.Action(Actions.BindWineData, Controllers.Home, new { area =""})',
                type: "post",
                data: BuildSearchCriteria2()
            },
            "columns": [
                {
                    "title": "<input type='checkbox' id='select_all2' class='checkbox'>", "data": "",
                    "render": function (data, type, row) {

                        let dataChecked = $("#checklog2").val();
                        let dataCheckedArr = dataChecked.split(',');



                        if (dataCheckedArr.find(element => element == row["Id"])) {
                            return '<input type="checkbox" value="' + row["Id"] + '" onchange="CheckboxChangeEvent(this,' + $("#checklog2").attr("id") + ',' + $("#select_all2").attr("id") + ');" class="md-check child2 checkbox" checked>';
                        } else {
                            return '<input type="checkbox" value="' + row["Id"] + '" onchange="CheckboxChangeEvent(this,' + $("#checklog2").attr("id") + ',' + $("#select_all2").attr("id") + ');" class="md-check child2 checkbox" >';
                        }
                    }
                    , "orderable": false, "width": "1%"
                },

                //{
                //    "title": "<input type='checkbox' id='select_all2' class='checkbox2'>", "data": "",
                //    "render": function (data, type, row) {
                //        return '<input type="checkbox" value="' + row["Id"] +'" class="md-check child2 checkbox2">';
                //    }
                //    , "orderable": false, "width": "1%"

                //},
                { "title": "Wine Name", "data": "WineName", "orderable": false, "width": "5%" },
                { "title": "Varietals  Name", "data": "MasterVarietalName", "orderable": false, "width": "5%" },
                { "title": "Calories", "data": "Calories", "orderable": false, "width": "5%" },
                { "title": "Distributor", "data": "MasterDistributorName", "orderable": false, "width": "5%" },
                { "title": "Tier", "data": "TierName", "orderable": false, "width": "5%" },
                {
                    "title": @ProjectSession.UserType == 1 ? "Edit": "View","class":"actionIcon",
                    "data": null,
                    "render": function (data, type, row) {
                        var appendstring = '';
                        if (@ProjectSession.UserType == 1) {
                            appendstring += '<a href="@Url.Action(Actions.Index,Controllers.Wine)?Id='+row["Id"]+'" class="btn btn-sm btn-outline-secondary" title="Edit Details"><i class="fa fa-edit"></i></a>&nbsp;&nbsp;';
                        } else {
                            appendstring += '<a href="@Url.Action(Actions.Index,Controllers.Wine)?Id='+row["Id"]+'" class="btn btn-sm btn-outline-secondary" title="View Details"><i class="fa fa-eye"></i></a>&nbsp;&nbsp;';
                        }

                        return appendstring;
                    },
                    "width": "3%",
                    "orderable": false,
                    "class": "action-icons"
                }
            ],
            // setup buttons extentension: http://datatables.net/extensions/buttons/
            "buttons": [
                 {
                    text: 'Add New Wine',
                    className: @ProjectSession.UserType == 1 ? 'addData':'hideDelete',
                    action: function (e, dt, node, config) {
                        //dt.ajax.reload();
                        window.location.href = '@Url.Action(Actions.Index,Controllers.Wine)'
                    }
                },
                {
                    text: 'Advance Search',
                    className: 'addFilters',
                    action: function (e, dt, node, config) {
                        //dt.ajax.reload();
                        OpenWineFilters();
                    }
                },
                {
                    text: 'Delete',
                    className: @ProjectSession.UserType == 1 ? 'addDelete':'hideDelete',
                    action: function (e, dt, node, config) {
                        //dt.ajax.reload();
                        ConfirmMessage('wines');
                    }
                },

                {
                    text: 'Export to Excel',
                    className: 'addDelete',
                    action: function (e, dt, node, config) {
                        OpenWineExcelOptionModal();
                    }
                },
            ],

            // setup responsive extension: http://datatables.net/extensions/responsive/
            responsive: true,

            "lengthMenu": [
                [500,1000],
                [500,1000] // change per page values here
            ],
            // set the initial value

            "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable datatable

            // Uncomment below line("dom" parameter) to fix the dropdown overflow issue in the datatable cells. The default datatable layout
            // setup uses scrollable div(table-scrollable) with overflow:auto to enable vertical scroll(see: assets/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.js).
            // So when dropdowns used the scrollable div should be removed.
            //"dom": "<'row' <'col-md-12'T>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r>t<'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>",
        });
    }

    return {

        //main function to initiate the module
        init: function () {
            if ($.fn.DataTable.isDataTable("#WineTable")) {
                $('#WineTable').dataTable().fnDestroy();
                $('#divWineTable').html('<table class="table table-striped" width="100%" id="WineTable"></table>');
            }
            initTable2();
        }

    };

}();

        function MasterCheckBoxChangeEvent(masterId, refrence, checklog, data, isCheck) {
            debugger;


            if (refrence.toLowerCase().localeCompare('location') == 0) {
                $.ajax({
                    type: 'POST',
                    data: { Search: data.Search, LocationId: data.LocationId, Location: data.Location, StateId: data.StateId, ServiceTypeId: data.ServiceTypeId, BarTypeId: data.BarTypeId },
                    url: "@Url.Action("GetLocationId", Controllers.Home)",
                    success: function (response) {
                        if (response.Code == 200) {
                            let responseArr = response.data.split(',');
                            let logArr = $(checklog).val().split(',');
                            logArr.sort();
                            responseArr.sort();
                            if (isCheck == false) {
                                if ($(masterId).prop('checked')) {
                                    if ($(checklog).val() != "") {
                                        let OldLog = $(checklog).val().split(',');
                                        let NewData = response.data.split(',');
                                        let newlog = OldLog;

                                        OldLog.sort();
                                        NewData.sort();

                                        for (i = 0; i < NewData.length; i++) {

                                            if (OldLog.find(element => element == NewData[i])) {

                                            } else {
                                                newlog.push(NewData[i]);
                                            }
                                        }
                                        $(checklog).val(newlog.join(','));
                                    }
                                    else {
                                        $(checklog).val(response.data);
                                    }
                                } else {
                                    for (i = 0; i < responseArr.length; i++) {
                                        if (logArr.find(element => element == responseArr[i])) {
                                            let index = logArr.indexOf(responseArr[i]);
                                            logArr.splice(index, 1);
                                        }
                                    }
                                    if (logArr.length > 0) {
                                        $(checklog).val(logArr.join(','));
                                    }
                                    else {
                                        $(checklog).val('');
                                    }
                                }

                            }
                            else {
                                let IsSame = false;
                                for (i = 0; i < responseArr.length;i++) {
                                    if (logArr.find(element => element == responseArr[i])) {
                                        IsSame = true;
                                    } else {
                                        IsSame = false;
                                        break;
                                    }
                                }
                                if (IsSame == true) {
                                    $(masterId).prop('checked', true);
                                } else {
                                    $(masterId).prop('checked', false);
                                }

                            }
                        }
                        console.log($(checklog).val());
                    },
                    error: function (response) {

                    }
                });

            }
            else if (refrence.toLowerCase().localeCompare('wine') == 0) {
                $.ajax({
                    type: 'POST',
                    data: { Search: data.Search, WineName: data.WineName, VarietalId: data.VarietalId, Calories: data.Calories, DistributorId: data.DistributorId, TierId: data.TierId },
                    url: "@Url.Action("GetWineId", Controllers.Home)",
                    success: function (response) {
                        if (response.Code == 200) {
                            let responseArr = response.data.split(',');
                            let logArr = $(checklog).val().split(',');
                            logArr.sort();
                            responseArr.sort();
                            if (isCheck == false) {
                                if ($(masterId).prop('checked')) {

                                    if ($(checklog).val() != "") {
                                        let OldLog = $(checklog).val().split(',');
                                        let NewData = response.data.split(',');
                                        let newlog = OldLog;

                                        OldLog.sort();
                                        NewData.sort();

                                        for (i = 0; i < NewData.length; i++) {

                                            if (OldLog.find(element => element == NewData[i])) {

                                            } else {
                                                newlog.push(NewData[i]);
                                            }
                                        }
                                        $(checklog).val(newlog.join(','));
                                    }
                                    else {
                                        $(checklog).val(response.data);
                                    }
                                } else {
                                    for (i = 0; i < responseArr.length; i++) {
                                        if (logArr.find(element => element == responseArr[i])) {
                                            let index = logArr.indexOf(responseArr[i]);
                                            logArr.splice(index, 1);
                                        }
                                    }
                                    if (logArr.length > 0) {
                                        $(checklog).val(logArr.join(','));
                                    }
                                    else {
                                        $(checklog).val('');
                                    }
                                }

                            }
                            else {
                                let IsSame = false;
                                for (i = 0; i < responseArr.length;i++) {
                                    if (logArr.find(element => element == responseArr[i])) {
                                        IsSame = true;
                                    } else {
                                        IsSame = false;
                                        break;
                                    }
                                }
                                if (IsSame == true) {
                                    $(masterId).prop('checked', true);
                                } else {
                                    $(masterId).prop('checked', false);
                                }

                            }
                        }
                        console.log($(checklog).val());
                    },
                    error: function (response) {

                    }
                });
            }

        }

    function BuildSearchCriteria2() {
    try {
        var param = {};
        param["WineName"] = $("#WineName").val();
        param["VarietalId"] = $("#VarietalId").val();
        param["Calories"] = $("#Calories").val();
        param["DistributorId"] = $("#DistributorId").val();
        param["TierId"] = $("#TierId").val();
         return addRequestVerificationToken2(param);
    } catch (e) { }
    }
        function CheckboxChangeEvent(obj, checklog, masterCheckbox) {

            if (obj.checked == true) {
                //checklog = "#" + checklog;

                let oldData = $(checklog).val();
                let data = "";
                if (oldData != "") {
                    if (oldData.split(",").find(element => element != obj.value)) {
                        data = oldData + "," + obj.value;
                    }
                } else {
                    data = obj.value;
                }


                $(checklog).val(data);

            } else {
                    let oldData = $(checklog).val();
                    if (oldData != "") {
                        let dataArr = oldData.split(',');
                        if (dataArr.find(element => element == obj.value)) {
                            let index = null;
                            while ((index = dataArr.indexOf(obj.value)) !== -1)
                                dataArr.splice(index, 1);
                        }
                        if (dataArr.length > 0)
                            $(checklog).val(dataArr.join(','));
                        else
                            $(checklog).val("");
                        if (masterCheckbox.checked == true) {
                            masterCheckbox.checked = false;
                        }
                    }



            }

        }
    function addRequestVerificationToken2(data) {
       data.__RequestVerificationToken = $('input[name=__RequestVerificationToken]').val();
       return data;
        }
        function OpenLocationExcelOptionModal() {
            $("#modalLocationExcelOption").modal('show');
        }
        function OpenWineExcelOptionModal() {
            $("#modalWineExcelOption").modal('show');
        }

        function CloseLocationExcelOptionModal() {
            $("#modalLocationExcelOption").modal('hide');
        }
        function CloseWineExcelOptionModal() {
            $("#modalWineExcelOption").modal('hide');
        }

    function DonwloadExcel(Refrence, Checklog, IsDetailRefrence) {
            CloseLocationExcelOptionModal();
            CloseWineExcelOptionModal();
            $.ajax({
                type: 'POST',
                data: { Refrence: Refrence, ids: $("#"+Checklog).val(), IsDetailRefrence: IsDetailRefrence },
                url: "@Url.Action("ExportExcel", Controllers.Home)",
                async: false,
                success: function (response) {
                    if(response.Code == 200){
                        window.location.href = "@Url.Action("Download",Controllers.Home)";
                    }
                },
                error: function (response) {

                }
            });
        }


    function OpenLocationFilters() {
        $("#by_location").modal("show");
    }

        function locationSearch() {
            var param = {};
            param["LocationId"] = $("#LocationId").val();
            param["Location"] = $("#LocationName").val();
            param["StateId"] = $("#StateId").val();
            param["ServiceTypeId"] = $("#ServiceTypeId").val();
            param["BarTypeId"] = $("#BarTypeId").val();
            param["Search"] = $("#CustomerTable_filter input").val();

            $("#by_location").modal("hide");
             TableDatatablesColreorder.init();
            MasterCheckBoxChangeEvent($('#select_all'), 'location', $('#checklog'), param, true);
    }

    function locationReset() {
        $("#LocationId").val('');
        $("#LocationName").val('');
        $("#StateId").val('');
        $("#ServiceTypeId").val('');
        $("#BarTypeId").val('');

        var param = {};
        param["LocationId"] = $("#LocationId").val();
        param["Location"] = $("#LocationName").val();
        param["StateId"] = $("#StateId").val();
        param["ServiceTypeId"] = $("#ServiceTypeId").val();
        param["BarTypeId"] = $("#BarTypeId").val();
        param["Search"] = $("#CustomerTable_filter input").val();

        $("#by_location").modal("hide");
        TableDatatablesColreorder.init();
        MasterCheckBoxChangeEvent($('#select_all'), 'location', $('#checklog'), param, true);
    }

    function OpenWineFilters() {
        $("#by_wine").modal("show");
    }

    function wineSearch() {
        $("#by_wine").modal("hide");
        TableDatatablesColreorder2.init();
        var param = {};
        param["WineName"] = $("#WineName").val();
        param["VarietalId"] = $("#VarietalId").val();
        param["Calories"] = $("#Calories").val();
        param["DistributorId"] = $("#DistributorId").val();
        param["TierId"] = $("#TierId").val();
        param["Search"] = $("#WineTable_filter input").val();
        MasterCheckBoxChangeEvent($('#select_all2'), 'wine', $('#checklog2'), param, true);
    }

    function wineReset() {
        $("#WineName").val('');
        $("#VarietalId").val('');
        $("#Calories").val('');
        $("#DistributorId").val('');
        $("#TierId").val('');
        $("#by_wine").modal("hide");
        TableDatatablesColreorder2.init();
        var param = {};
        param["WineName"] = $("#WineName").val();
        param["VarietalId"] = $("#VarietalId").val();
        param["Calories"] = $("#Calories").val();
        param["DistributorId"] = $("#DistributorId").val();
        param["TierId"] = $("#TierId").val();
        param["Search"] = $("#WineTable_filter input").val();
        MasterCheckBoxChangeEvent($('#select_all2'), 'wine', $('#checklog2'), param, true);
            }

    $(function () {
        $(document).on('change','#select_all', function () {
            debugger;
            var param = {};
                param["LocationId"] = $("#LocationId").val();
                param["Location"] = $("#LocationName").val();
                param["StateId"] = $("#StateId").val();
                param["ServiceTypeId"] = $("#ServiceTypeId").val();
                param["BarTypeId"] = $("#BarTypeId").val();
                param["Search"] = $("#CustomerTable_filter input").val();
                MasterCheckBoxChangeEvent($('#select_all'), 'location', $('#checklog'), param, false);
            $('.child').prop('checked', this.checked);
        });
        $(document).on('change','.child',function () {
            var param = {};
            param["LocationId"] = $("#LocationId").val();
            param["Location"] = $("#LocationName").val();
            param["StateId"] = $("#StateId").val();
            param["ServiceTypeId"] = $("#ServiceTypeId").val();
            param["BarTypeId"] = $("#BarTypeId").val();
            param["Search"] = $("#CustomerTable_filter input").val();
            MasterCheckBoxChangeEvent($('#select_all'), 'location', $('#checklog'), param, true);
            $('#select_all').prop('checked', $('.child:checked').length === $('.child').length);
        });
    });

    $(function () {
        $(document).on('change', '#select_all2', function () {
            var param = {};
            param["WineName"] = $("#WineName").val();
            param["VarietalId"] = $("#VarietalId").val();
            param["Calories"] = $("#Calories").val();
            param["DistributorId"] = $("#DistributorId").val();
            param["TierId"] = $("#TierId").val();
            param["Search"] = $("#WineTable_filter input").val();
            MasterCheckBoxChangeEvent($('#select_all2'), 'wine', $('#checklog2'), param, false);
            $('.child2').prop('checked', this.checked);
        });
        $(document).on('change', '.child2' ,function () {
            var param = {};
            param["WineName"] = $("#WineName").val();
            param["VarietalId"] = $("#VarietalId").val();
            param["Calories"] = $("#Calories").val();
            param["DistributorId"] = $("#DistributorId").val();
            param["TierId"] = $("#TierId").val();
            param["Search"] = $("#WineTable_filter input").val();
            MasterCheckBoxChangeEvent($('#select_all2'), 'wine', $('#checklog2'), param, true);
            $('#select_all2').prop('checked', $('.child2:checked').length === $('.child2').length);
        });
     });

    //function getCheckedBoxesData() {
    //    var data = "";
    //    $('.child:checked').each(function () {
    //        if ($(".md-check").is(":checked")) {
    //            data += $(this).closest('tr').find('.child').val() + ",";
    //        }
    //        $("#checklog").val(data);
    //    });
    //}

    //function getCheckedBoxesData2() {
    //    var data = "";
    //    $('.child2:checked').each(function () {
    //        if ($(".md-check").is(":checked")) {
    //            data += $(this).closest('tr').find('.child2').val() + ",";
    //        }
    //        $("#checklog2").val(data);
    //    });
    //}

    function ConfirmMessage(action) {
            swal({
                title: "Are you sure ?",
                text: "You will be deleting the selected entries !",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#dc3545",
                confirmButtonText: "Yes, do it !",
                closeOnConfirm: false
            }, function () {
                    Delete(action);
            });
    }

    function Delete(action) {
        var values = '';
        if (action == "locations") {

            values = $("#checklog").val();
        } else if (action == "wines") {

            values = $("#checklog2").val();
        }
        else if (action == "pricingtier") {

            values = $("#checklog3").val();
        }
        $.ajax({
            type: 'POST',
            url: "@Url.Action(Actions.Delete,Controllers.Home)",
            async: false,
            data: ({ids: values,action: action}),
            dataType: 'json',
            success: function (response) {
                if (response) {
                    swal("Great!", "Selected Entries Deleted", "success");
                     if (action == "locations") {
                      //TableDatatablesColreorder.init();
                         const work = async () => {
                          await sleep(2000)
                          window.location.reload();
                    }
                    work();
                     } else if (action == "wines") {
                         //TableDatatablesColreorder2.init();
                         const work = async () => {
                          await sleep(2000)
                          window.location.reload();
                    }
                    work();
                     }
                } else {
                    swal("Oops!", response.Message, "error");
                    CloseUpsert();
                }
            },
            error: function (response) {
                swal("Opps!", "An error occured ! Please try again.", "error");
                  }
            });
    }

    function sleep(ms) {
       return new Promise(resolve => setTimeout(resolve, ms));
    }

    function autocomplete(inp, arr) {
  var currentFocus;
  inp.addEventListener("input", function(e) {
      var a, b, i, val = this.value;
      closeAllLists();
      if (!val) { return false;}
      currentFocus = -1;
      a = document.createElement("DIV");
      a.setAttribute("id", this.id + "autocomplete-list");
      a.setAttribute("class", "autocomplete-items");
      this.parentNode.appendChild(a);
      for (i = 0; i < arr.length; i++) {
        if (arr[i].substr(0, val.length).toUpperCase() == val.toUpperCase()) {
          b = document.createElement("DIV");
          b.innerHTML = "<strong>" + arr[i].substr(0, val.length) + "</strong>";
          b.innerHTML += arr[i].substr(val.length);
          b.innerHTML += "<input type='hidden' value='" + arr[i] + "'>";
          b.addEventListener("click", function(e) {
              inp.value = this.getElementsByTagName("input")[0].value;
              closeAllLists();
          });
          a.appendChild(b);
        }
      }
  });
  inp.addEventListener("keydown", function(e) {
      var x = document.getElementById(this.id + "autocomplete-list");
      if (x) x = x.getElementsByTagName("div");
      if (e.keyCode == 40) {
        currentFocus++;
        addActive(x);
      } else if (e.keyCode == 38) {
        currentFocus--;
        addActive(x);
      } else if (e.keyCode == 13) {
        e.preventDefault();
        if (currentFocus > -1) {
          if (x) x[currentFocus].click();
        }
      }
  });
  function addActive(x) {
    if (!x) return false;
    removeActive(x);
    if (currentFocus >= x.length) currentFocus = 0;
    if (currentFocus < 0) currentFocus = (x.length - 1);
    x[currentFocus].classList.add("autocomplete-active");
  }
  function removeActive(x) {
    for (var i = 0; i < x.length; i++) {
      x[i].classList.remove("autocomplete-active");
    }
  }
  function closeAllLists(elmnt) {
    var x = document.getElementsByClassName("autocomplete-items");
    for (var i = 0; i < x.length; i++) {
      if (elmnt != x[i] && elmnt != inp) {
        x[i].parentNode.removeChild(x[i]);
      }
    }
  }
  document.addEventListener("click", function (e) {
      closeAllLists(e.target);
  });
            }

    $(document).on('keypress', function (e) {
        if (e.which == 13) {
            if($('#location').hasClass('active')){
                TableDatatablesColreorder.init();
            }

            if($('#wine').hasClass('active')){
               TableDatatablesColreorder2.init();
            }
      }
   });

    </script>
    <script src="~/assets/vendor/sweetalert/sweetalert.min.js"></script> <!-- SweetAlert Plugin Js -->

    <script src="~/assets/js/pages/ui/dialogs.js"></script>
}

