﻿

@{
    ViewBag.Title = "Submit Form";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@using TodoDashboard.Common;
@using TodoDashboard.Pages;
@using TodoDashboard.Infrastructure;
@Html.AntiForgeryToken()

<div class="block-header">
    <div class="row">
        <div class="col-lg-6 col-md-8 col-sm-12">
            <h2><a href="javascript:void(0);" onclick="history.back();" class="btn btn-xs btn-link"><i class="fa fa-arrow-left"></i></a> Submit Form</h2>
        </div>
    </div>
</div>

<div class="row clearfix">
    <div class="col-lg-12">
        <div class="card">
            <div class="body">
                <script type="text/javascript" src="https://form.jotform.com/jsform/202446281924152"></script>
            </div>
        </div>
    </div>
</div>

@section dashboardscripts{
    <script src="~/Scripts/jquery-ui.min.js"></script>
    <script src="~/Scripts/datatable.js"></script>
    <script src="~/Scripts/datatables.min.js"></script>
    <script src="~/Scripts/datatables.bootstrap.js"></script>
}

@section Scripts {

   
}

