﻿@{
    ViewBag.Title="Location";
    Layout="~/Views/Shared/_Layout.cshtml";
}

@using TodoDashboard.Common;
@using TodoDashboard.Pages;
@using TodoDashboard.Infrastructure;
@Html.AntiForgeryToken()

<style>
    .checkbox2 {
        width: 25px;
        height: 25px;
    }

    .checkbox3 {
        width: 25px;
        height: 25px;
    }

    thead {
        background: #000;
        color: white;
    }

    .has-error .checkbox, .has-error .checkbox-inline, .has-error .control-label, .has-error .form-control-feedback, .has-error .help-block, .has-error .radio, .has-error .radio-inline, .has-error.checkbox label, .has-error.checkbox-inline label, .has-error.radio label, .has-error.radio-inline label {
        color: #e73d4a
    }

    .has-error .form-control {
        border-color: #e73d4a;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075)
    }

        .has-error .form-control:focus {
            border-color: #d71b29;
            -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #f2989f;
            box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #f2989f
        }

    .has-error .input-group-addon {
        color: #e73d4a;
        border-color: #e73d4a;
        background-color: #fbe1e3
    }

    .addDelete {
        color: black !important;
        background: #e9e9e9 !important;
    }

    .hideDelete {
        display: none !important;
    }
</style>

<div class="block-header">
    <div class="row clearfix">
        <div class="col-lg-6 col-md-8 col-sm-12">
            <h2>
                <a href="javascript:void(0);" onclick="history.back();" class="btn btn-xs btn-link"><i class="fa fa-arrow-left"></i></a><span id="headingtext">Add New Location</span>
            </h2>
            <ul class="breadcrumb">
                <li class="breadcrumb-item"><a href="@Url.Action(Actions.Index,Controllers.Home,new { Area=""})"><i class="icon-home"></i></a>
                <li class="breadcrumb-item active" id="breadcrum">Add New Location</li>
            </ul>
        </div>
    </div>
</div>
<div class="modal animated fadeIn show" id="ServingSizeModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="title">Serving Size</h6>
            </div>
            <div class="modal-body">

                <div class="row clearfix">
                    <input type="hidden" id="Id" />
                    <div class="col-md-12 col-sm-12">
                        <div class="form-group">
                            <input type="hidden" id="WineId" name="WineId" />
                            @Html.Raw(Html.DropDownList("ServingSizeId", (IEnumerable<SelectListItem>)ViewBag.ServingSizeId, "Select Serving Size", new { @Id = "ServingSizeId", @class = "form-control" }))
                        </div>
                    </div>
                    <div class="col-12" style="text-align:right;">
                        <button type="submit" onclick="UpdateServingSize();" id="btnSaveServing" class="btn btn-primary saveBtn">Save</button>
                        <button class="btn btn-primary loading" id="btnLoadingServing" type="button" disabled="" style="display:none;">
                            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                            Saving...
                        </button>
                        <button type="button" id="btnCloseServing" class="btn btn-secondary closeBtn" onclick="CloseServingSize();">Close</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="modal animated fadeIn show" id="WineModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="title" id="winemodalLabel">Add Wine</h6>
            </div>
            <div class="modal-body">

                <div class="row clearfix">
                    <div class="col-12">
                        <div class="portlet light bordered">
                            <div class="portlet-title">
                                <input type="hidden" id="checklog3" />
                                <div class="tools col-md-12"></div>
                            </div>
                            <div class="portlet-body" id="divAddWineTable">
                                <table class="table table-striped table-bordered table-hover" id="AddWineTable"></table>
                            </div>
                        </div>
                        <div class="col-12" style="text-align:right;">
                            <button type="submit" onclick="UpsertWine();" id="btnSaveWine" class="btn btn-primary saveBtn">Save</button>
                            <button class="btn btn-primary loading" id="btnWineLoading" type="button" disabled="" style="display:none;">
                                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                                Saving...
                            </button>
                            <button type="button" id="btnCloseWine" class="btn btn-secondary closeBtn" onclick="CloseWine();">Close</button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="card">
            <div class="body">
                <form class="form-auth-small" method="post" id="frmuser">
                    <div class="row clearfix">
                        <input type="hidden" id="Id" />
                        @if(ViewBag.Id>0&&ProjectSession.UserType==1)
                        {
                            <div class="col-8"></div>
                            <div class="col-4" style="text-align:right;">
                                <input type="button" class="btn btn-secondary" onclick="ConfirmMessageLocation();" style="color: white !important;" value="Delete Location">
                                <input type="button" class="btn btn-secondary" onclick="DownloadExcel();" style="color: white !important;" value="Export To Excel">
                            </div>
                        }
                        else
                        {
                            <div class="col-12" style="text-align:right;">
                                <input type="button" class="btn btn-secondary" onclick="DownloadExcel();" style="color: white !important;" value="Export To Excel">
                            </div>
                        }


                        @if(ProjectSession.UserType==1)
                        {
                            <div class="col-md-4 col-sm-12">
                                <label>Id</label>
                                <div class="form-group">
                                    <input type="text" id="LocationId" name="LocationId" class="form-control" placeholder="Enter Id *">
                                </div>
                            </div>
                        }
                        else
                        {
                            <div class="col-md-4 col-sm-12">
                                <label>Id</label>
                                <div class="form-group">
                                    <input type="text" id="LocationId" name="LocationId" class="form-control" placeholder="Enter Id *" disabled>
                                </div>
                            </div>
                        }

                        @if(ViewBag.Id==0)
                        {
                            <div class="col-md-4 col-sm-12">
                                <label>Location</label>
                                <div class="form-group">
                                    <input type="text" id="LocationName" name="LocationName" class="form-control" placeholder="Enter Location *">
                                </div>
                            </div>
                        }
                        else
                        {
                            <input type="text" id="LocationName" name="LocationName" class="form-control" placeholder="Enter Location *" style="display:none;">
                        }

                        <div class="col-md-4 col-sm-12">
                            <label>State</label>
                            <div class="form-group">
                                @Html.Raw(@Html.DropDownList("StateId", (IEnumerable<SelectListItem>)ViewBag.States, "Select State", new { @Id = "StateId", @class = "form-control show-tick ms select2", disabled = "disabled" }).ToString().Replace("disabled=\"disabled\"", (ProjectSession.UserType==1 ? "" : "disabled=\"disabled\"")))
                            </div>
                        </div>

                        <div class="col-md-6 col-sm-12">
                            <label>Service Type</label>
                            <div class="form-group">
                                @Html.Raw(@Html.DropDownList("ServiceTypeId", (IEnumerable<SelectListItem>)ViewBag.ServiceTypes, "Select Service Type", new { @Id = "ServiceTypeId", @class = "form-control show-tick ms select2", disabled = "disabled" }).ToString().Replace("disabled=\"disabled\"", (ProjectSession.UserType==1 ? "" : "disabled=\"disabled\"")))
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <label>Bar Type</label>
                            <div class="form-group">
                                @Html.Raw(@Html.DropDownList("BarTypeId", (IEnumerable<SelectListItem>)ViewBag.BarTypes, "Select Bar Type", new { @Id = "BarTypeId", @class = "form-control show-tick ms select2", disabled = "disabled" }).ToString().Replace("disabled=\"disabled\"", (ProjectSession.UserType==1 ? "" : "disabled=\"disabled\"")))
                            </div>
                        </div>

                        <div class="header">
                            <h3>Wine Listing </h3>
                        </div>

                        <div class="col-md-12">
                            <div class="portlet light bordered">
                                <div class="portlet-title">
                                    <input type="hidden" id="checklog2" />
                                    <div class="tools col-md-12"></div>
                                </div>
                                <div class="portlet-body" id="divWineTable">
                                    <table class="table table-striped table-bordered table-hover" id="WineTable"></table>
                                </div>
                            </div>
                        </div>



                        @if(ProjectSession.UserType==1)
                        {
                            <div class="col-12" style="text-align:right;">
                                <input type="submit" id="userSave" class="btn btn-primary" style="color: white !important;background: #138496 !important;" value="Save">
                                <button class="btn btn-primary loading" type="button" disabled style="display:none;float:right;">
                                    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                                    Saving...
                                </button>
                                <a href="@Url.Action(Actions.Index,Controllers.Home,new { Area = ""})" class="btn btn-secondary closeBtn" id="userClose">Cancel</a>
                            </div>
                        }
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section dashboardscripts{
    <script src="~/Scripts/jquery-ui.min.js"></script>
    <script src="~/Scripts/datatable.js"></script>
    <script src="~/Scripts/datatables.min.js"></script>
    <script src="~/Scripts/datatables.bootstrap.js"></script>
}


@section Scripts {
    <script>
    jQuery(document).ready(function () {
         $("#Id").val(@ViewBag.Id);
        if (@ViewBag.Id > 0) {
            GetById();
        }
        FormuserValidation.init();
        TableDatatablesColreorder2.init();



        $(document).on('search.dt', '#WineTable', function () {

            var param = {};
                param["Search"] = $("#WineTable_filter input").val();
                param["LocationId"] = @ViewBag.Id;
                param["IsAdd"] = false;
                MasterCheckBoxChangeEvent($('#select_all2'), $('#checklog2'), param, true);
        });
        $(document).on('search.dt', '#AddWineTable', function () {
            debugger;
            var param = {};
                param["Search"] = $("#AddWineTable_filter input").val();
                param["LocationId"] = @ViewBag.Id;
                param["IsAdd"] = true;
                MasterCheckBoxChangeEvent($('#select_all3'), $('#checklog3'), param, true);
        });
    });

    var TableDatatablesColreorder2 = function () {

    let initTable2 = function () {
        let table = $('#WineTable');


        let oTable = table.dataTable({
            "stateSave": true,
            "autoWidth": false,
            "paging": true,
            // Internationalisation. For more info refer to http://datatables.net/manual/i18n
            "language": {
                "aria": {
                    "sortAscending": ": activate to sort column ascending",
                    "sortDescending": ": activate to sort column descending"
                },
                "emptyTable": "No data available in table",
                "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                "infoEmpty": "No entries found",
                "infoFiltered": "(filtered1 from _MAX_ total entries)",
                "lengthMenu": "_MENU_ entries",
                "search": "Search:",
                "zeroRecords": "No matching records found"
            },
            "pageLength": 1000,
            "processing": true,
            "serverSide": true,
            "ajax": {
                async: true,
                url: '@Url.Action(Actions.BindWineData, Controllers.Location, new { area =""})',
                type: "post",
                data: BuildSearchCriteria2()
            },
            "columns": [
                {
                    "title": "<input type='checkbox' id='select_all2' class='checkbox2'>", "data": "",
                    "render": function (data, type, row) {

                        let dataChecked = $("#checklog2").val();
                        let dataCheckedArr = dataChecked.split(',');

                        if (dataCheckedArr.find(element => element == row["Id"])) {
                            return '<input type="checkbox" value="' + row["Id"] + '" onchange="CheckboxChangeEvent(this,' + $("#checklog2").attr("id") + ',' + $("#select_all2").attr("id") + ');" class="md-check child2 checkbox2" checked>';
                        } else {
                            return '<input type="checkbox" value="' + row["Id"] + '" onchange="CheckboxChangeEvent(this,' + $("#checklog2").attr("id") + ',' + $("#select_all2").attr("id") + ');" class="md-check child2 checkbox2" >';
                        }
                    }
                    , "orderable": false, "width": "1%"
                },
                { "title": "Wine Name", "data": "WineName", "orderable": false, "width": "5%" },
                { "title": "Varietals Name", "data": "MasterVarietalName", "orderable": false, "width": "5%" },
                { "title": "Calories", "data": "Calories", "orderable": false, "width": "5%" },
                {
                    "title": "Serving Size", "data": null, "render": function (data, type, row)
                    {

                        if (row["MasterServingSize"] != null ) {
                            return "<span onclick='EditServingSize(" + row['Id'] + ")'>" + row["MasterServingSize"] + "</span>";
                        }
                        else {
                            return "<span>" + row["DefaultMasterServingSize"] + "</span>";
                        }
                    }, "orderable": false, "width": "5%"
                },
                { "title": "Distributor", "data": "MasterDistributorName", "orderable": false, "width": "5%" },
                { "title": "Tier", "data": "TierName", "orderable": false, "width": "5%" },
                {
                    "title": @ProjectSession.UserType == 1 ? "Edit": "View","class":"actionIcon",
                    "data": null,
                    "render": function (data, type, row) {
                        var appendstring = '';
                        if (@ProjectSession.UserType == 1) {
                            appendstring += '<a href="@Url.Action(Actions.Index,Controllers.Wine)?Id='+row["Id"]+'" class="btn btn-sm btn-outline-secondary" title="Edit Details"><i class="fa fa-edit"></i></a>&nbsp;&nbsp;';
                        } else {
                            appendstring += '<a href="@Url.Action(Actions.Index,Controllers.Wine)?Id='+row["Id"]+'" class="btn btn-sm btn-outline-secondary" title="View Details"><i class="fa fa-eye"></i></a>&nbsp;&nbsp;';
                        }

                        return appendstring;
                    },
                    "width": "3%",
                    "orderable": false,
                    "class": "action-icons"
                }
            ],
            // setup buttons extentension: http://datatables.net/extensions/buttons/
            "buttons": [
                 {
                     text: 'Add Wines',
                     className: @ProjectSession.UserType == 1 && @ViewBag.Id > 0 ? 'addDelete':'hideDelete',
                     action: function (e, dt, node, config) {
                         //dt.ajax.reload();
                         OpenWineModal();
                     }
                 },
                 {
                    text: 'Delete Selected Wines',
                    className: @ProjectSession.UserType == 1 && @ViewBag.Id > 0 ? 'addDelete':'hideDelete',
                    action: function (e, dt, node, config) {
                        //dt.ajax.reload();
                        ConfirmMessage();
                    }
                }
            ],

            // setup responsive extension: http://datatables.net/extensions/responsive/
            responsive: true,

            "lengthMenu": [
                [5, 10, 15, 20,1000],
                [5, 10, 15, 20,1000] // change per page values here
            ],
            // set the initial value

            "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable datatable

            // Uncomment below line("dom" parameter) to fix the dropdown overflow issue in the datatable cells. The default datatable layout
            // setup uses scrollable div(table-scrollable) with overflow:auto to enable vertical scroll(see: assets/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.js).
            // So when dropdowns used the scrollable div should be removed.
            //"dom": "<'row' <'col-md-12'T>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r>t<'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>",
        });
    }

    return {

        //main function to initiate the module
        init: function () {
            if ($.fn.DataTable.isDataTable("#WineTable")) {
                $('#WineTable').dataTable().fnDestroy();
                $('#divWineTable').html('<table class="table table-striped" width="100%" id="WineTable"></table>');
            }
            initTable2();
        }
    };

    }();

    var TableDatatablesColreorder3 = function () {

    let initTable2 = function () {
        let table = $('#AddWineTable');

        let oTable = table.dataTable({
            "stateSave": true,
            "autoWidth": false,
            "paging": true,
            // Internationalisation. For more info refer to http://datatables.net/manual/i18n
            "language": {
                "aria": {
                    "sortAscending": ": activate to sort column ascending",
                    "sortDescending": ": activate to sort column descending"
                },
                "emptyTable": "No data available in table",
                "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                "infoEmpty": "No entries found",
                "infoFiltered": "(filtered1 from _MAX_ total entries)",
                "lengthMenu": "_MENU_ entries",
                "search": "Search:",
                "zeroRecords": "No matching records found"
            },
            "pageLength": 1000,
            "processing": true,
            "serverSide": true,
            "ajax": {
                async: true,
                url: '@Url.Action(Actions.BindWineData, Controllers.Location, new { area =""})',
                type: "post",
                data: BuildSearchCriteria3()
            },
            "columns": [
                {
                    "title": "<input type='checkbox' id='select_all3' class='checkbox2'>", "data": "",
                    "render": function (data, type, row) {

                        let dataChecked = $("#checklog3").val();
                        let dataCheckedArr = dataChecked.split(',');



                        if (dataCheckedArr.find(element => element == row["Id"])) {
                            return '<input type="checkbox" value="' + row["Id"] + '" onchange="CheckboxChangeEvent(this,' + $("#checklog3").attr("id") + ',' + $("#select_all3").attr("id") + ');" class="md-check child3 checkbox2" checked>';
                        } else {
                            return '<input type="checkbox" value="' + row["Id"] + '" onchange="CheckboxChangeEvent(this,' + $("#checklog3").attr("id") + ',' + $("#select_all3").attr("id") + ');" class="md-check child3 checkbox2" >';
                        }
                    }
                    , "orderable": false, "width": "1%"
                },
                //{
                //    "title": "<input type='checkbox' id='select_all3' onchange='CheckboxChangeEvent(this," + $("#checklog3").attr("id") +");' class='checkbox2'>", "data": "",
                //    "render": function (data, type, row) {
                //            return '<input type="checkbox" value="' + row["Id"] +'" class="md-check child3 checkbox2" >';
                //    }
                //    , "orderable": false, "width": "1%"
                //},
                { "title": "Wine Name", "data": "WineName", "orderable": false, "width": "5%" },
                { "title": "Varietals Name", "data": "MasterVarietalName", "orderable": false, "width": "5%" },
                { "title": "Calories", "data": "Calories", "orderable": false, "width": "5%" },
                { "title": "Distributor", "data": "MasterDistributorName", "orderable": false, "width": "5%" },
                { "title": "Tier", "data": "TierName", "orderable": false, "width": "5%" },

            ],
            // setup buttons extentension: http://datatables.net/extensions/buttons/
            "buttons": [

            ],

            // setup responsive extension: http://datatables.net/extensions/responsive/
            responsive: true,

            "lengthMenu": [
                [5, 10, 15, 20,1000],
                [5, 10, 15, 20,1000] // change per page values here
            ],
            // set the initial value

            "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable datatable

            // Uncomment below line("dom" parameter) to fix the dropdown overflow issue in the datatable cells. The default datatable layout
            // setup uses scrollable div(table-scrollable) with overflow:auto to enable vertical scroll(see: assets/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.js).
            // So when dropdowns used the scrollable div should be removed.
            //"dom": "<'row' <'col-md-12'T>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r>t<'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>",
        });
    }

    return {

        //main function to initiate the module
        init: function () {
            if ($.fn.DataTable.isDataTable("#AddWineTable")) {
                $('#AddWineTable').dataTable().fnDestroy();
                $('#divAddWineTable').html('<table class="table table-striped" width="100%" id="AddWineTable"></table>');
            }
            initTable2();
        }
    };

    }();
    function BuildSearchCriteria2() {
    try {
        var param = {};
        param["LocationId"] = @ViewBag.Id;
        param["IsAdd"] = false;
         return addRequestVerificationToken2(param);
    } catch (e) { }
        }
         function BuildSearchCriteria3() {
    try {
        var param = {};
        param["LocationId"] = @ViewBag.Id;
        param["IsAdd"] = true;
         return addRequestVerificationToken2(param);
    } catch (e) { }
    }

    function DownloadExcel() {
        debugger;
            $.ajax({
                type: 'POST',
                data: { id :  @ViewBag.Id, ids: $("#checklog2").val()},
                url: "@Url.Action("ExportExcel", Controllers.Location)",
                async: false,
                success: function (response) {
                    if(response.Code == 200){
                        window.location.href = "@Url.Action("Download",Controllers.Home)";
                    }
                },
                error: function (response) {

                }
            });
        }
        function EditServingSize(WineId) {
            if (@ProjectSession.UserType == 1) {
                $('#ServingSizeId').val("");
                $('#WineId').val(WineId);
                $('#ServingSizeModal').modal('show');
                $("#btnSaveServing").show();
                $("#btnLoadingServing").hide();
                $("#btnCloseServing").show();
            }
        }
        function CloseServingSize() {
            $('#WineId').val(0);
            $('#ServingSizeModal').modal('hide');

        }
        function UpdateServingSize() {

            $('#ServingSizeModal').modal('show');
            $("#btnSaveServing").hide();
            $("#btnLoadingServing").show();
            $("#btnCloseServing").hide();
            $.ajax({
            type: "POST",
            url: '@Url.Action("UpdateServingSizeId", Controllers.Location)',
                data: ({
                    WineId: $('#WineId').val(),
                    LocationId: @ViewBag.Id,
                    MasterServingSizeId: $('#ServingSizeId').val()
                }),
            dataType: 'json',
                success: function (response) {
                    debugger;
                if (response == 200) {
                    swal("Great!", "Details Saved !", "success");
                    TableDatatablesColreorder2.init();
                    CloseServingSize();
                }
                else {
                    swal("Error !", "An Error Occured", "error");
                    $("#btnSaveServing").show();
                    $("#btnLoadingServing").hide();
                    $("#btnCloseServing").show();
                }
            },
                error: function (error) {

                $("#btnSaveServing").show();
                $("#btnLoadingServing").hide();
                $("#btnCloseServing").show();

                //show close button
            }
        });
        }

        function OpenWineModal() {
            $('#WineModal').modal('show');
            $("#btnSaveWine").show();
            $("#btnWineLoading").hide();
            $("#btnCloseWine").show();
            $('#checklog3').val("");
            TableDatatablesColreorder3.init();

            $("#select_all3").prop("checked", false);
            $("#checklog3").val("");
            $(document).on('change', '#select_all3', function () {
                var param = {};
                param["Search"] = $("#AddWineTable_filter input").val();
                param["LocationId"] = @ViewBag.Id;
                param["IsAdd"] = true;
                MasterCheckBoxChangeEvent($('#select_all3'), $('#checklog3'), param, false);
                $('.child3').prop('checked', this.checked);
            });

            $(document).on('change', '.child3', function () {
                $('#select_all3').prop('checked', $('.child3:checked').length === $('.child3').length);
                var param = {};
                param["Search"] = $("#AddWineTable_filter input").val();
                param["LocationId"] = @ViewBag.Id;
                param["IsAdd"] = true;
                MasterCheckBoxChangeEvent($('#select_all3'), $('#checklog3'), param, true);
            });

        }
        function CloseWine() {
            $('#WineModal').modal('hide');
        }
        function UpsertWine() {
            $("#btnSaveWine").hide();
            $("#btnWineLoading").show();
            $("#btnCloseWine").hide();





            $.ajax({
            type: "POST",
            url: '@Url.Action("UpsertWine", Controllers.Location)',
            data: ({Id: $("#Id").val(),WineIds:$("#checklog3").val()}),
            dataType: 'json',
            success: function (response) {
                if (response == 200) {
                    swal("Great!", "Details Saved !", "success");
                    //TableDatatablesColreorder2.init();
                    CloseWine();
                    const work = async () => {
                          await sleep(2000)
                          window.location.reload();
                    }
                    work();
                }
                else {
                    swal("Error !", response.Message, "error");
                    $("#btnSaveWine").show();
                    $("#btnWineLoading").hide();
                    $("#btnCloseWine").show();
                }
            },
            error: function (error) {
                $("#btnSaveWine").show();
                $("#btnWineLoading").hide();
                $("#btnCloseWine").show();

                //show close button
            }
        });
    }

    function sleep(ms) {
       return new Promise(resolve => setTimeout(resolve, ms));
    }


    function addRequestVerificationToken2(data) {
       data.__RequestVerificationToken = $('input[name=__RequestVerificationToken]').val();
       return data;
    }

    var FormuserValidation = function () {
            // basic validation
            var handleValidation = function () {

                var form1 = $('#frmuser');
                var error1 = $('.alert-danger', form1);

                jQuery.validator.addMethod("lettersonly", function(value, element)
                {
                return this.optional(element) || /^[a-z ]+$/i.test(value);
                }, "Text Field Only");

                form1.validate({
                    errorElement: 'span', //default input error message container
                    errorClass: 'help-block help-block-error', // default input error message class
                    focusInvalid: false, // do not focus the last invalid input
                    ignore: "",  // validate all fields including form hidden input
                    rules: {
                        LocationId: {
                            required: true,
                            number : true
                        },
                        LocationName: {
                            required: true
                        },
                        StateId: {
                            required: true,
                        },
                        ServiceTypeId: {
                            required: true,
                        },
                        BarTypeId: {
                            required: true,
                        },
                    },

                    invalidHandler: function (event, validator) { //display error alert on form submit
                        //success1.hide();
                        error1.show();
                        App.scrollTo(error1, -200);
                    },

                    errorPlacement: function (error, element) { // render error placement for each input type
                        var cont = $(element).parent('.input-group');
                        if (cont.size() > 0) {
                            cont.after(error);
                        } else {
                            element.after(error);
                        }
                    },

                    highlight: function (element) { // hightlight error inputs
                        $(element)
                            .closest('.form-group').addClass('has-error'); // set error class to the control group
                    },

                    unhighlight: function (element) { // revert the change done by hightlight
                        $(element)
                            .closest('.form-group').removeClass('has-error'); // set error class to the control group
                    },

                    success: function (label) {
                        label
                            .closest('.form-group').removeClass('has-error'); // set success class to the control group
                    },

                    submitHandler: function (form) {
                        Adituser();
                    }
                });
            }
            return {
                //main function to initiate the module
                init: function () {
                    handleValidation();
                }
            };
    }();
        function MasterCheckBoxChangeEvent(masterId, checklog, data, isCheck) {
            debugger;
                           $.ajax({
                    type: 'POST',
                    data: { Search: data.Search, LocationId: data.LocationId, IsAdd : data.IsAdd },
                    url: "@Url.Action("GetWineId", Controllers.Location )",
                    success: function (response) {
                        if (response.Code == 200) {
                            let responseArr = response.data.split(',');
                            let logArr = $(checklog).val().split(',');
                            logArr.sort();
                            responseArr.sort();
                            if (isCheck == false) {
                                if ($(masterId).prop('checked')) {

                                    if ($(checklog).val() != "") {
                                        let OldLog = $(checklog).val().split(',');
                                        let NewData = response.data.split(',');
                                        let newlog = OldLog;

                                        OldLog.sort();
                                        NewData.sort();

                                        for (i = 0; i < NewData.length; i++) {

                                            if (OldLog.find(element => element == NewData[i])) {

                                            } else {
                                                newlog.push(NewData[i]);
                                            }
                                        }
                                        $(checklog).val(newlog.join(','));
                                    }
                                    else {
                                        $(checklog).val(response.data);
                                    }

                                } else {
                                    debugger;
                                    for (i = 0; i < responseArr.length; i++) {
                                        if (logArr.find(element => element == responseArr[i])) {
                                            let index = logArr.indexOf(responseArr[i]);
                                            logArr.splice(index,1);
                                        }
                                    }
                                    if (logArr.length > 0) {
                                        $(checklog).val(logArr.join(','));
                                    }
                                    else {
                                        $(checklog).val('');
                                    }
                                }

                            }
                            else {
                                let IsSame = false;
                                for (i = 0; i < responseArr.length;i++) {
                                    if (logArr.find(element => element == responseArr[i])) {
                                        IsSame = true;
                                    } else {
                                        IsSame = false;
                                        break;
                                    }
                                }
                                if (IsSame == true) {
                                    $(masterId).prop('checked', true);
                                } else {
                                    $(masterId).prop('checked', false);
                                }

                            }
                        }
                        console.log($(checklog).val());
                    },
                    error: function (response) {

                    }
                });
        }
        function CheckboxChangeEvent(obj, checklog, masterCheckbox) {

            if (obj.checked == true) {
                //checklog = "#" + checklog;

                let oldData = $(checklog).val();
                let data = "";
                if (oldData != "") {
                    if (oldData.split(",").find(element => element != obj.value)) {
                        data = oldData + "," + obj.value;
                    }
                } else {
                    data = obj.value;
                }


                $(checklog).val(data);

            } else {
                let oldData = $(checklog).val();
                if (oldData != "") {
                    let dataArr = oldData.split(',');
                    if (dataArr.find(element => element == obj.value)) {
                        let index = null;
                        while ((index = dataArr.indexOf(obj.value)) !== -1)
                            dataArr.splice(index, 1);
                    }
                    if (dataArr.length > 0)
                        $(checklog).val(dataArr.join(','));
                    else
                        $(checklog).val("");
                    if (masterCheckbox.checked == true) {
                        masterCheckbox.checked = false;
                    }
                }



            }
            console.log($(checklog).val());
        }
     function ConfirmMessage() {
            swal({
                title: "Are you sure ?",
                text: "You will be deleting the selected wines from the location !",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#dc3545",
                confirmButtonText: "Yes, do it !",
                closeOnConfirm: false
            }, function () {
                    Delete();
            });
    }

    function Delete() {

        $.ajax({
            type: 'POST',
            url: "@Url.Action(Actions.DeleteSelectedWinesFromLocation,Controllers.Location)",
            async: false,
            data: ({ LocationId: $("#Id").val(), WineIds: $("#checklog2").val() }),
            dataType: 'json',
            success: function (response) {
                if (response == "200") {
                    swal("Great!", "Selected Wines Deleted", "success");
                    //TableDatatablesColreorder2.init();
                    const work = async () => {
                          await sleep(2000)
                          window.location.reload();
                    }
                    work();
                } else {
                    swal("Oops!", response.Message, "error");
                    CloseUpsert();
                }
            },
            error: function (response) {
                swal("Opps!", "An error occured ! Please try again.", "error");
                  }
            });
    }

    function Adituser() {
        $("#userSave").hide();
        $("#userClose").hide();
        $(".loading").show();


        $.ajax({
            type: "POST",
            url: '@Url.Action(Actions.Upsert,Controllers.Location)',
            data: ({Id: $("#Id").val(),LocationId: $("#LocationId").val(),LocationName: $("#LocationName").val(),StateId: $("#StateId").val(),ServiceTypeId: $("#ServiceTypeId").val(),BarTypeId: $("#BarTypeId").val(),WineIds:$("#checklog2").val()}),
            dataType: 'json',
            success: function (response) {
                if (response.Code == 200) {
                    swal("Great!", "Details Saved !", "success");
                    var millisecondsToWait = 500;
                    setTimeout(function () {
                        window.location.href= '@Url.Action(Actions.Index, Controllers.Home, new { Area = "" })';
                    }, millisecondsToWait);
                }
                else {
                    swal("Error !", response.Message, "error");
                    $(".loading").hide();
                    $("#userSave").show();
                    $("#userClose").show();
                }
            },
            error: function (error) {
                $(".loading").hide();
                $("#userSave").show();
                $("#userClose").show();

                //show close button
            }
        });
            }

    function GetById() {
             $.ajax({
            type: "POST",
            url: '@Url.Action(Actions.GetById,Controllers.Location)',
            data: ({Id: $("#Id").val()}),
            dataType: 'json',
                 success: function (response) {
                     if (response.Code == 200 && response.Item != null) {
                         $("#LocationId").val(response.Item.LocationId);
                         $("#headingtext").text(response.Item.LocationName);
                         $("#breadcrum").text(response.Item.LocationName)
                         $("#LocationName").val(response.Item.LocationName);
                         $("#StateId").val(response.Item.StateId);
                         $("#ServiceTypeId").val(response.Item.ServiceTypeId);
                         $("#BarTypeId").val(response.Item.BarTypeId);
                 }
                 else {
                     swal("Error !", "An error occured. Try Again", "error");
                 }
            },
            error: function (error) {
               swal("Error !", "An error occured. Try Again", "error");
            }
        });
        }

        $(function () {
            $(document).on('change', '#select_all2', function () {
                var param = {};
                param["Search"] = $("#WineTable_filter input").val();
                param["LocationId"] = @ViewBag.Id;
                param["IsAdd"] = false;
                MasterCheckBoxChangeEvent($('#select_all2'),  $('#checklog2'), param, false);
                $('.child2').prop('checked', this.checked);
            });
            $(document).on('change', '.child2' ,function () {
                $('#select_all2').prop('checked', $('.child2:checked').length === $('.child2').length);
                var param = {};
                param["Search"] = $("#WineTable_filter input").val();
                param["LocationId"] = @ViewBag.Id;
                param["IsAdd"] = false;
                MasterCheckBoxChangeEvent($('#select_all2'),  $('#checklog2'), param, true);
            });


        });

        //function getCheckedBoxesData2() {

        //    var data = "";

        //    $('.child2:checked').each(function () {

        //    if ($(".md-check").is(":checked")) {
        //        data += $(this).closest('tr').find('.child2').val() + ",";

        //    }
        //    $("#checklog2").val(data);
        //});
        //}

        //function getCheckedBoxesData3() {
        //    var data = "";
        //    $('.child3:checked').each(function () {
        //        if ($(".md-check").is(":checked")) {
        //            data += $(this).closest('tr').find('.child3').val() + ",";
        //        }
        //        $("#checklog3").val(data);
        //    });
        //}

        function ConfirmMessageLocation() {
            swal({
                title: "Are you sure ?",
                text: "You will be deleting the location !",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#dc3545",
                confirmButtonText: "Yes, do it !",
                closeOnConfirm: false
            }, function () {
                    DeleteLocation();
            });
    }

    function DeleteLocation() {

        $.ajax({
            type: 'POST',
            url: "@Url.Action("Delete",Controllers.Location)",
            async: false,
            data: ({ids: $("#Id").val()}),
            dataType: 'json',
            success: function (response) {
                if (response) {
                    swal("Great!", "Location Deleted", "success");
                    window.location.href = '@Url.Action(Actions.Index,Controllers.Home,new { Area = ""})';
                } else {
                    swal("Oops!", response.Message, "error");
                }
            },
            error: function (response) {
                swal("Opps!", "An error occured ! Please try again.", "error");
                  }
            });
    }

    </script>
    <script src="~/assets/validation/js/jquery-ui.min.js"></script>
    <script src="~/assets/validation/js/app.min.js"></script>
    <script src="~/assets/validation/js/ui-modals.min.js"></script>
    <script src="~/assets/validation/js/jquery.validate.min.js"></script>
    <script src="~/assets/validation/js/additional-methods.min.js"></script>
    <script src="~/assets/validation/js/toastr.min.js"></script>
    <script src="~/assets/validation/js/ui-toastr.min.js"></script>
    <script src="~/assets/vendor/dropify/js/dropify.min.js"></script>
    <script src="~/assets/vendor/sweetalert/sweetalert.min.js"></script> <!-- SweetAlert Plugin Js -->
    <script src="~/assets/js/pages/forms/dropify.js"></script>
    <script src="~/assets/js/pages/ui/dialogs.js"></script>
}